In [209]:
import pandas as pd
from datetime import datetime
import json
import time

In [292]:
df = pd.read_csv('./gold_data/full_first_time.csv')

In [293]:
def convert_start_time(timestamp):
    return datetime.utcfromtimestamp(timestamp)

In [294]:
df['start_time'] = df['start_time'].apply(convert_start_time)

In [295]:
dfNew = df.loc[df['start_time'] > timestamp]

In [215]:
def fix_json(bad_json):
    return bad_json.replace('\'', '\"')

In [296]:
dfNew['player_0'] = dfNew['player_0'].apply(fix_json)
dfNew['player_1'] = dfNew['player_1'].apply(fix_json)
dfNew['player_2'] = dfNew['player_2'].apply(fix_json)
dfNew['player_3'] = dfNew['player_3'].apply(fix_json)
dfNew['player_4'] = dfNew['player_4'].apply(fix_json)
dfNew['player_5'] = dfNew['player_5'].apply(fix_json)
dfNew['player_6'] = dfNew['player_6'].apply(fix_json)
dfNew['player_7'] = dfNew['player_7'].apply(fix_json)
dfNew['player_8'] = dfNew['player_8'].apply(fix_json)
dfNew['player_9'] = dfNew['player_9'].apply(fix_json)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [217]:
#get all unique player_id
all_ids = []
for index, row in dfNew.iterrows():
    all_ids.append(json.loads(row['player_0'])['account_id'])
    all_ids.append(json.loads(row['player_1'])['account_id'])
    all_ids.append(json.loads(row['player_2'])['account_id'])
    all_ids.append(json.loads(row['player_3'])['account_id'])
    all_ids.append(json.loads(row['player_4'])['account_id'])
    all_ids.append(json.loads(row['player_5'])['account_id'])
    all_ids.append(json.loads(row['player_6'])['account_id'])
    all_ids.append(json.loads(row['player_7'])['account_id'])
    all_ids.append(json.loads(row['player_8'])['account_id'])
    all_ids.append(json.loads(row['player_9'])['account_id'])
unique_ids = list(set(all_ids))

In [297]:
#mark positions in dfNew
def get_net_worth(player):
    return json.loads(player)['net_worth']

dfNew['player_0_net_worth'] = dfNew['player_0'].apply(get_net_worth)
dfNew['player_1_net_worth'] = dfNew['player_1'].apply(get_net_worth)
dfNew['player_2_net_worth'] = dfNew['player_2'].apply(get_net_worth)
dfNew['player_3_net_worth'] = dfNew['player_3'].apply(get_net_worth)
dfNew['player_4_net_worth'] = dfNew['player_4'].apply(get_net_worth)
dfNew['player_5_net_worth'] = dfNew['player_5'].apply(get_net_worth)
dfNew['player_6_net_worth'] = dfNew['player_6'].apply(get_net_worth)
dfNew['player_7_net_worth'] = dfNew['player_7'].apply(get_net_worth)
dfNew['player_8_net_worth'] = dfNew['player_8'].apply(get_net_worth)
dfNew['player_9_net_worth'] = dfNew['player_9'].apply(get_net_worth)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [219]:
def get_supposed_position_1(match, pos):
    all_nws = []
    all_nws.append(match['player_0_net_worth'])
    all_nws.append(match['player_1_net_worth'])
    all_nws.append(match['player_2_net_worth'])
    all_nws.append(match['player_3_net_worth'])
    all_nws.append(match['player_4_net_worth'])
    all_nws_tmp = all_nws.copy()
    all_nws.sort()
    all_nws_sorted = all_nws.copy()
    if all_nws_tmp[pos] == all_nws_sorted[0]:
        return 5
    elif all_nws_tmp[pos] == all_nws_sorted[1]:
        return 4
    elif all_nws_tmp[pos] == all_nws_sorted[2]:
        return 3
    elif all_nws_tmp[pos] == all_nws_sorted[3]:
        return 2
    else:
        return 1

def get_supposed_position_2(match, pos):
    all_nws = []
    all_nws.append(match['player_5_net_worth'])
    all_nws.append(match['player_6_net_worth'])
    all_nws.append(match['player_7_net_worth'])
    all_nws.append(match['player_8_net_worth'])
    all_nws.append(match['player_9_net_worth'])
    all_nws_tmp = all_nws.copy()
    all_nws.sort()
    all_nws_sorted = all_nws.copy()
    if all_nws_tmp[pos] == all_nws_sorted[0]:
        return 5
    elif all_nws_tmp[pos] == all_nws_sorted[1]:
        return 4
    elif all_nws_tmp[pos] == all_nws_sorted[2]:
        return 3
    elif all_nws_tmp[pos] == all_nws_sorted[3]:
        return 2
    else:
        return 1

In [298]:
for index, row in dfNew.iterrows():
    dfNew.at[index, 'player_0_supposed_pos'] = get_supposed_position_1(row, 0)
    dfNew.at[index, 'player_1_supposed_pos'] = get_supposed_position_1(row, 1)
    dfNew.at[index, 'player_2_supposed_pos'] = get_supposed_position_1(row, 2)
    dfNew.at[index, 'player_3_supposed_pos'] = get_supposed_position_1(row, 3)
    dfNew.at[index, 'player_4_supposed_pos'] = get_supposed_position_1(row, 4)
    dfNew.at[index, 'player_5_supposed_pos'] = get_supposed_position_2(row, 0)
    dfNew.at[index, 'player_6_supposed_pos'] = get_supposed_position_2(row, 1)
    dfNew.at[index, 'player_7_supposed_pos'] = get_supposed_position_2(row, 2)
    dfNew.at[index, 'player_8_supposed_pos'] = get_supposed_position_2(row, 3)
    dfNew.at[index, 'player_9_supposed_pos'] = get_supposed_position_2(row, 4)

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [230]:
def set_player(row, index, player_pos, i):

    player_str = 'player_' + str(player_pos)
    player = json.loads(row[player_str])
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'games'] += 1
    
    if row['radiant_win'] == True:
        if player_pos <= 4:
            dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'wins'] += 1
    else:
        if player_pos >= 5:
            dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'wins'] += 1

    
    supp_str = player_str + '_supposed_pos'
    if row[supp_str] == 1:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_1_num'] += 1
    elif row[supp_str] == 2:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_2_num'] += 1
    elif row[supp_str] == 3:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_3_num'] += 1
    elif row[supp_str] == 4:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_4_num'] += 1
    elif row[supp_str] == 5:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_5_num'] += 1
        

    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'last_hits'] += player['last_hits']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'denies'] += player['denies']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'kills'] += player['kills']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'deaths'] += player['deaths']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'assists'] += player['assists']

    if i % 1000 == 0 and player_pos == 0:
        end = time.time()
        print(end - start, "seconds passed. i == ", i)

In [240]:
dfPlayers = pd.DataFrame(columns=['account_id', 'games', 'wins', 'pos_1_num', 'pos_2_num', 'pos_3_num', 'pos_4_num', 'pos_5_num', 'last_hits', 'denies', 'kills', 'deaths', 'assists'])
dfPlayers['account_id'] = unique_ids
dfPlayers['games'] = 0
dfPlayers['wins'] = 0
dfPlayers['pos_1_num'] = 0
dfPlayers['pos_2_num'] = 0
dfPlayers['pos_3_num'] = 0
dfPlayers['pos_4_num'] = 0
dfPlayers['pos_5_num'] = 0
dfPlayers['last_hits'] = 0
dfPlayers['denies'] = 0
dfPlayers['kills'] = 0
dfPlayers['deaths'] = 0
dfPlayers['assists'] = 0

In [241]:
start = time.time()
i = 0
for index, row in dfNew.iterrows():
    set_player(row, index, 0, i)
    set_player(row, index, 1, i)
    set_player(row, index, 2, i)
    set_player(row, index, 3, i)
    set_player(row, index, 4, i)
    set_player(row, index, 5, i)
    set_player(row, index, 6, i)
    set_player(row, index, 7, i)
    set_player(row, index, 8, i)
    set_player(row, index, 9, i)
    i += 1
    end = time.time()

0.6964678764343262 seconds passed. i ==  0
34.73062181472778 seconds passed. i ==  1000
72.4357578754425 seconds passed. i ==  2000
111.64781904220581 seconds passed. i ==  3000
151.6806080341339 seconds passed. i ==  4000
192.00682187080383 seconds passed. i ==  5000
232.7026927471161 seconds passed. i ==  6000
273.0951759815216 seconds passed. i ==  7000
313.66240882873535 seconds passed. i ==  8000
353.8575496673584 seconds passed. i ==  9000
400.5086736679077 seconds passed. i ==  10000
441.7198648452759 seconds passed. i ==  11000
482.2451720237732 seconds passed. i ==  12000
522.3190877437592 seconds passed. i ==  13000
562.5205819606781 seconds passed. i ==  14000
602.6472058296204 seconds passed. i ==  15000
642.7930197715759 seconds passed. i ==  16000
683.0508818626404 seconds passed. i ==  17000
723.4310007095337 seconds passed. i ==  18000
763.6189398765564 seconds passed. i ==  19000
803.97532081604 seconds passed. i ==  20000
844.3064639568329 seconds passed. i ==  21000
884.722494840622 seconds passed. i ==  22000
925.081435918808 seconds passed. i ==  23000
965.6654536724091 seconds passed. i ==  24000
1005.9490649700165 seconds passed. i ==  25000
1046.5936608314514 seconds passed. i ==  26000
1086.92671585083 seconds passed. i ==  27000
1128.6636579036713 seconds passed. i ==  28000
1172.4040110111237 seconds passed. i ==  29000
1214.3422946929932 seconds passed. i ==  30000
1256.5448248386383 seconds passed. i ==  31000
1299.1882150173187 seconds passed. i ==  32000
1340.6890859603882 seconds passed. i ==  33000
1383.6449048519135 seconds passed. i ==  34000
1425.663358926773 seconds passed. i ==  35000
1468.6588208675385 seconds passed. i ==  36000
1511.6563909053802 seconds passed. i ==  37000
1553.2382469177246 seconds passed. i ==  38000
1594.1464009284973 seconds passed. i ==  39000
1635.2833988666534 seconds passed. i ==  40000
1676.867521762848 seconds passed. i ==  41000

In [242]:
dfPlayers.to_csv('./gold_data/players.csv')

In [243]:
dfPlayersTop = pd.read_csv('./players.csv')

In [244]:
fullPlayersDf = pd.merge(dfPlayers, 
         dfPlayersTop.drop(columns=['steamid', 'profileurl', 'loccountrycode', 'is_contributor', 'steam_id'])
         .rename(columns={'player_id': 'account_id'}), how='inner', on='account_id').sort_values(by='games', ascending=False)

In [260]:
fullPlayersDf.to_csv('./gold_data/full_players.csv')

In [246]:
def return_account_id(json_obj):
    return json.loads(json_obj)['account_id']

In [299]:
dfNew['player_0_id'] = dfNew['player_0'].apply(return_account_id)
dfNew['player_1_id'] = dfNew['player_1'].apply(return_account_id)
dfNew['player_2_id'] = dfNew['player_2'].apply(return_account_id)
dfNew['player_3_id'] = dfNew['player_3'].apply(return_account_id)
dfNew['player_4_id'] = dfNew['player_4'].apply(return_account_id)
dfNew['player_5_id'] = dfNew['player_5'].apply(return_account_id)
dfNew['player_6_id'] = dfNew['player_6'].apply(return_account_id)
dfNew['player_7_id'] = dfNew['player_7'].apply(return_account_id)
dfNew['player_8_id'] = dfNew['player_8'].apply(return_account_id)
dfNew['player_9_id'] = dfNew['player_9'].apply(return_account_id)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [251]:
fullPlayersDf['last_hits'] = fullPlayersDf['last_hits'] / fullPlayersDf['games']
fullPlayersDf['denies'] = fullPlayersDf['denies'] / fullPlayersDf['games']
fullPlayersDf['kills'] = fullPlayersDf['kills'] / fullPlayersDf['games']
fullPlayersDf['deaths'] = fullPlayersDf['deaths'] / fullPlayersDf['games']
fullPlayersDf['assists'] = fullPlayersDf['assists'] / fullPlayersDf['games']
fullPlayersDf

,account_id,games,wins,pos_1_num,pos_2_num,pos_3_num,pos_4_num,pos_5_num,last_hits,denies,kills,deaths,assists,Unnamed: 0,name,estimate_mmr,solo_competetive_rank,leaderboard_rank
696,323792491,928,531,3,2,31,213,679,43.270474,2.705819,2.536638,5.725216,14.323276,1998,Rr^,7040.0,NaN,164.0
336,324277900,897,543,235,506,143,5,8,246.777035,9.315496,9.443701,3.863991,10.904125,2002,Yopaj,6439.0,NaN,59.0
1241,139876032,797,444,1,3,27,725,41,81.469260,3.713927,2.939774,5.859473,12.973651,1156,kaka,8093.0,7807.0,12.0
335,143693439,782,478,0,0,1,83,698,50.303069,3.317136,2.359335,5.647059,14.200767,1186,Dy,7025.0,7895.0,111.0
1658,107803494,782,478,169,472,139,1,1,289.493606,12.352941,6.897698,3.537084,10.336317,673,曾焦阳,7031.0,8451.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,238595735,1,1,0,0,1,0,0,144.000000,5.000000,7.000000,1.000000,21.000000,1789,Ginger,6100.0,NaN,NaN
1644,283341534,1,0,0,0,0,0,1,15.000000,0.000000,1.000000,7.000000,9.000000,1884,R3BBY,4083.0,4305.0,NaN
695,183053921,1,0,0,0,1,0,0,161.000000,4.000000,0.000000,3.000000,0.000000,1508,YuUi,4399.0,4271.0,389.0
682,847621405,1,0,0,0,0,0,1,9.000000,4.000000,0.000000,9.000000,0.000000,2302,JMAA Nation,4025.0,3785.0,NaN
0,114032643,1,0,0,0,1,0,0,23.000000,1.000000,0.000000,9.000000,1.000000,771,SachaGavr,1759.0,1681.0,NaN

In [287]:
for index, row in dfPlayers.iterrows():
    if row['pos_1_num'] >= row['pos_2_num'] and row['pos_1_num'] >= row['pos_3_num'] and row['pos_1_num'] >= row['pos_4_num'] and row['pos_1_num'] >= row['pos_5_num']:
        dfPlayers.at[index, 'calculated_position'] = 1
    elif row['pos_2_num'] >= row['pos_1_num'] and row['pos_2_num'] >= row['pos_3_num'] and row['pos_2_num'] >= row['pos_4_num'] and row['pos_2_num'] >= row['pos_5_num']:
        dfPlayers.at[index, 'calculated_position'] = 2
    elif row['pos_3_num'] >= row['pos_1_num'] and row['pos_3_num'] >= row['pos_2_num'] and row['pos_3_num'] >= row['pos_4_num'] and row['pos_3_num'] >= row['pos_5_num']:
        dfPlayers.at[index, 'calculated_position'] = 3
    elif row['pos_4_num'] >= row['pos_1_num'] and row['pos_4_num'] >= row['pos_2_num'] and row['pos_4_num'] >= row['pos_3_num'] and row['pos_4_num'] >= row['pos_5_num']:
        dfPlayers.at[index, 'calculated_position'] = 4
    elif row['pos_5_num'] >= row['pos_1_num'] and row['pos_5_num'] >= row['pos_2_num'] and row['pos_5_num'] >= row['pos_3_num'] and row['pos_5_num'] >= row['pos_4_num']:
        dfPlayers.at[index, 'calculated_position'] = 5
    else:
        print("ERROR", index, row)

In [300]:
for index, row in dfNew.iterrows():
    dfNew.at[index, 'player_0_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_0_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_1_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_1_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_2_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_2_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_3_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_3_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_4_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_4_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_5_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_5_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_6_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_6_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_7_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_7_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_8_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_8_id']]['calculated_position'].values[0])
    dfNew.at[index, 'player_9_real_pos'] = int(dfPlayers.loc[dfPlayers['account_id'] == row['player_9_id']]['calculated_position'].values[0])

In [304]:
dfPlayers['winrate'] = dfPlayers['wins'] / dfPlayers['games']

In [309]:
dfPlayers.loc[dfPlayers['games'] > 50].sort_values(by='winrate', ascending=False)

,account_id,games,wins,pos_1_num,pos_2_num,pos_3_num,pos_4_num,pos_5_num,last_hits,denies,kills,deaths,assists,calculated_position,winrate
670,846922928,55,47,1,1,3,43,7,2328,174,240,199,712,4.0,0.854545
8354,225131081,51,43,18,25,6,2,0,10427,568,511,127,468,2.0,0.843137
14072,82207597,57,48,8,34,14,0,1,11400,728,563,211,789,2.0,0.842105
5394,119285149,54,45,9,8,22,12,3,7614,451,390,182,898,3.0,0.833333
17266,1227192897,211,163,25,43,93,44,6,31664,1373,1489,1182,3017,3.0,0.772512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,907053137,59,13,5,27,8,6,13,7844,258,345,511,610,2.0,0.220339
9793,836125881,59,13,7,17,30,2,3,8370,453,367,398,694,3.0,0.220339
11462,426594513,59,13,46,10,2,1,0,13984,502,468,276,429,1.0,0.220339
16119,446624286,54,11,36,13,4,0,1,13886,761,251,184,286,1.0,0.203704
9472,164217422,68,13,54,13,1,0,0,22149,598,336,305,448,1.0,0.191176

In [ ]:
start = time.time()
i = 0
for index, row in dfNew.iterrows():
    set_player(row, index, 0, i)
    set_player(row, index, 1, i)
    set_player(row, index, 2, i)
    set_player(row, index, 3, i)
    set_player(row, index, 4, i)
    set_player(row, index, 5, i)
    set_player(row, index, 6, i)
    set_player(row, index, 7, i)
    set_player(row, index, 8, i)
    set_player(row, index, 9, i)
    i += 1
    end = time.time()

In [261]:
def update_player(row, index, player_pos, i):

    player_str = 'player_' + str(player_pos)
    player = json.loads(row[player_str])
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'games'] += 1
    
    if row['radiant_win'] == True:
        if player_pos <= 4:
            dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'wins'] += 1
    else:
        if player_pos >= 5:
            dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'wins'] += 1

    
    supp_str = player_str + '_supposed_pos'
    if row[supp_str] == 1:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_1_num'] += 1
    elif row[supp_str] == 2:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_2_num'] += 1
    elif row[supp_str] == 3:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_3_num'] += 1
    elif row[supp_str] == 4:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_4_num'] += 1
    elif row[supp_str] == 5:
        dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'pos_5_num'] += 1
        

    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'last_hits'] += player['last_hits']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'denies'] += player['denies']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'kills'] += player['kills']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'deaths'] += player['deaths']
    dfPlayers.at[dfPlayers.loc[dfPlayers['account_id'] == player['account_id']].index[0], 'assists'] += player['assists']

    if i % 1000 == 0 and player_pos == 0:
        end = time.time()
        print(end - start, "seconds passed. i == ", i)

,Unnamed: 0,match_id,start_time,league_id,radiant_win,duration,player_0,player_1,player_2,player_3,...,player_0_id,player_1_id,player_2_id,player_3_id,player_4_id,player_5_id,player_6_id,player_7_id,player_8_id,player_9_id
5404,5404,5713385142,2020-11-23 14:25:57,12528,True,2470,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 139876032, ""player_slot"": 1, ""n...","{""account_id"": 202217968, ""player_slot"": 2, ""n...","{""account_id"": 199222238, ""player_slot"": 3, ""n...",...,138857296,139876032,202217968,199222238,101259972,277141004,138543123,143693439,107803494,134276083
5405,5405,5713211230,2020-11-23 12:20:45,12528,False,1988,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 199222238, ""player_slot"": 1, ""n...","{""account_id"": 139876032, ""player_slot"": 2, ""n...","{""account_id"": 202217968, ""player_slot"": 3, ""n...",...,138857296,199222238,139876032,202217968,101259972,277141004,143693439,134276083,138543123,107803494
5406,5406,5668306545,2020-10-23 09:43:43,12528,False,2504,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 137895298, ""player_slot"": 1, ""n...","{""account_id"": 364481959, ""player_slot"": 2, ""n...","{""account_id"": 199222238, ""player_slot"": 3, ""n...",...,138857296,137895298,364481959,199222238,101259972,148215639,129958758,90031225,207829314,373520478
5407,5407,5710103743,2020-11-21 10:32:18,12528,False,1810,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 202217968, ""player_slot"": 1, ""n...","{""account_id"": 199222238, ""player_slot"": 2, ""n...","{""account_id"": 139876032, ""player_slot"": 3, ""n...",...,138857296,202217968,199222238,139876032,101259972,148215639,89423756,129958758,207829314,373520478
5408,5408,5668258744,2020-10-23 08:51:47,12528,False,1942,"{""account_id"": 148215639, ""player_slot"": 0, ""n...","{""account_id"": 129958758, ""player_slot"": 1, ""n...","{""account_id"": 207829314, ""player_slot"": 2, ""n...","{""account_id"": 373520478, ""player_slot"": 3, ""n...",...,148215639,129958758,207829314,373520478,90031225,138857296,137895298,364481959,199222238,101259972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98297,98297,4621277332,2019-04-06 18:59:52,10875,False,2719,"{""account_id"": 86726887, ""player_slot"": 0, ""ne...","{""account_id"": 108452107, ""player_slot"": 1, ""n...","{""account_id"": 10366616, ""player_slot"": 2, ""ne...","{""account_id"": 221666230, ""player_slot"": 3, ""n...",...,86726887,108452107,10366616,221666230,187824320,86715129,126238768,1296625,43276219,31818853
98298,98298,4621277523,2019-04-06 18:59:56,10875,True,1824,"{""account_id"": 86822085, ""player_slot"": 0, ""ne...","{""account_id"": 118207269, ""player_slot"": 1, ""n...","{""account_id"": 85312703, ""player_slot"": 2, ""ne...","{""account_id"": 176502766, ""player_slot"": 3, ""n...",...,86822085,118207269,85312703,176502766,85008179,28070572,100058342,349310876,109512357,97658618
98299,98299,4621546749,2019-04-06 20:58:45,10875,False,1033,"{""account_id"": 28070572, ""player_slot"": 0, ""ne...","{""account_id"": 100058342, ""player_slot"": 1, ""n...","{""account_id"": 349310876, ""player_slot"": 2, ""n...","{""account_id"": 109512357, ""player_slot"": 3, ""n...",...,28070572,100058342,349310876,109512357,97658618,86726887,221666230,10366616,108452107,187824320
98300,98300,4621450845,2019-04-06 20:12:40,10875,False,1206,"{""account_id"": 86822085, ""player_slot"": 0, ""ne...","{""account_id"": 118207269, ""player_slot"": 1, ""n...","{""account_id"": 85312703, ""player_slot"": 2, ""ne...","{""account_id"": 176502766, ""player_slot"": 3, ""n...",...,86822085,118207269,85312703,176502766,85008179,221666230,86726887,10366616,108452107,187824320
98301,98301,4621444038,2019-04-06 20:09:56,10875,False,1262,"{""account_id"": 28070572, ""player_slot"": 0, ""ne...","{""account_id"": 100058342, ""player_slot"": 1, ""n...","{""account_id"": 349310876, ""player_slot"": 2, ""n...","{""account_id"": 109512357, ""player_slot"": 3, ""n...",...,28070572,100058342,349310876,109512357,97658618,86715129,126238768,1296625,43276219,31818853

In [158]:
dfPlayers.sort_values(by='games', ascending=False)

,account_id,games,pos_1_num,pos_2_num,pos_3_num,pos_4_num,pos_5_num,last_hits,denies,kills,deaths,assists
6697,323792491,928,108,147,181,162,330,40155,2511,2354,5313,13292
3213,324277900,897,131,116,116,355,179,221359,8356,8471,3466,9781
12282,139876032,797,221,153,251,78,94,64931,2960,2343,4670,10340
3207,143693439,782,428,153,76,40,85,39337,2594,1845,4416,11105
16297,107803494,782,428,153,76,40,85,226384,9660,5394,2766,8083
...,...,...,...,...,...,...,...,...,...,...,...,...
2460,258543833,1,0,1,0,0,0,16,2,0,7,0
10576,250595932,1,0,0,1,0,0,407,15,15,8,5
10575,492980821,1,1,0,0,0,0,200,32,6,6,2
2463,104468703,1,0,0,0,1,0,134,0,1,8,23
0,131629056,1,1,0,0,0,0,303,9,4,5,9

In [120]:
dfNew.loc[5404]

Unnamed: 0                                                         5404
match_id                                                     5713385142
start_time                                          2020-11-23 14:25:57
league_id                                                         12528
radiant_win                                                        True
duration                                                           2470
player_0              {"account_id": 138857296, "player_slot": 0, "n...
player_1              {"account_id": 139876032, "player_slot": 1, "n...
player_2              {"account_id": 202217968, "player_slot": 2, "n...
player_3              {"account_id": 199222238, "player_slot": 3, "n...
player_4              {"account_id": 101259972, "player_slot": 4, "n...
player_5              {"account_id": 277141004, "player_slot": 128, ...
player_6              {"account_id": 138543123, "player_slot": 129, ...
player_7              {"account_id": 143693439, "player_slot": 130, ...
player_8              {"account_id": 107803494, "player_slot": 131, ...
player_9              {"account_id": 134276083, "player_slot": 132, ...
player_0_net_worth                                                16750
player_1_net_worth                                                11788
player_2_net_worth                                                27376
player_3_net_worth                                                26338
player_4_net_worth                                                 5185
player_5_net_worth                                                24269
player_6_net_worth                                                 6203
player_7_net_worth                                                 4109
player_8_net_worth                                                15070
player_9_net_worth                                                10090
player_0_pos                                                          3
player_1_pos                                                          4
player_2_pos                                                          1
player_3_pos                                                          2
player_4_pos                                                          5
player_5_pos                                                          1
player_6_pos                                                          4
player_7_pos                                                          5
player_8_pos                                                          2
player_9_pos                                                          3
Name: 5404, dtype: object

In [59]:
dfPlayers.at[0]['account_id'] = 0

ValueError: At based indexing on an non-integer index can only have non-integer indexers

In [327]:
dfNew = dfNew.drop(columns=['Unnamed: 0'])

In [328]:
dfNew

,match_id,start_time,league_id,radiant_win,duration,player_0,player_1,player_2,player_3,player_4,...,player_0_real_pos,player_1_real_pos,player_2_real_pos,player_3_real_pos,player_4_real_pos,player_5_real_pos,player_6_real_pos,player_7_real_pos,player_8_real_pos,player_9_real_pos
5404,5713385142,2020-11-23 14:25:57,12528,True,2470,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 139876032, ""player_slot"": 1, ""n...","{""account_id"": 202217968, ""player_slot"": 2, ""n...","{""account_id"": 199222238, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,4.0,2.0,2.0,5.0,1.0,4.0,5.0,2.0,3.0
5405,5713211230,2020-11-23 12:20:45,12528,False,1988,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 199222238, ""player_slot"": 1, ""n...","{""account_id"": 139876032, ""player_slot"": 2, ""n...","{""account_id"": 202217968, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,2.0,4.0,2.0,5.0,1.0,5.0,3.0,4.0,2.0
5406,5668306545,2020-10-23 09:43:43,12528,False,2504,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 137895298, ""player_slot"": 1, ""n...","{""account_id"": 364481959, ""player_slot"": 2, ""n...","{""account_id"": 199222238, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,1.0,1.0,2.0,5.0,1.0,3.0,4.0,4.0,2.0
5407,5710103743,2020-11-21 10:32:18,12528,False,1810,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 202217968, ""player_slot"": 1, ""n...","{""account_id"": 199222238, ""player_slot"": 2, ""n...","{""account_id"": 139876032, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,2.0,2.0,4.0,5.0,1.0,5.0,3.0,4.0,2.0
5408,5668258744,2020-10-23 08:51:47,12528,False,1942,"{""account_id"": 148215639, ""player_slot"": 0, ""n...","{""account_id"": 129958758, ""player_slot"": 1, ""n...","{""account_id"": 207829314, ""player_slot"": 2, ""n...","{""account_id"": 373520478, ""player_slot"": 3, ""n...","{""account_id"": 90031225, ""player_slot"": 4, ""ne...",...,1.0,3.0,4.0,2.0,4.0,3.0,1.0,1.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98297,4621277332,2019-04-06 18:59:52,10875,False,2719,"{""account_id"": 86726887, ""player_slot"": 0, ""ne...","{""account_id"": 108452107, ""player_slot"": 1, ""n...","{""account_id"": 10366616, ""player_slot"": 2, ""ne...","{""account_id"": 221666230, ""player_slot"": 3, ""n...","{""account_id"": 187824320, ""player_slot"": 4, ""n...",...,4.0,1.0,4.0,2.0,5.0,5.0,2.0,4.0,1.0,3.0
98298,4621277523,2019-04-06 18:59:56,10875,True,1824,"{""account_id"": 86822085, ""player_slot"": 0, ""ne...","{""account_id"": 118207269, ""player_slot"": 1, ""n...","{""account_id"": 85312703, ""player_slot"": 2, ""ne...","{""account_id"": 176502766, ""player_slot"": 3, ""n...","{""account_id"": 85008179, ""player_slot"": 4, ""ne...",...,1.0,3.0,4.0,4.0,5.0,3.0,1.0,4.0,4.0,1.0
98299,4621546749,2019-04-06 20:58:45,10875,False,1033,"{""account_id"": 28070572, ""player_slot"": 0, ""ne...","{""account_id"": 100058342, ""player_slot"": 1, ""n...","{""account_id"": 349310876, ""player_slot"": 2, ""n...","{""account_id"": 109512357, ""player_slot"": 3, ""n...","{""account_id"": 97658618, ""player_slot"": 4, ""ne...",...,3.0,1.0,4.0,4.0,1.0,4.0,2.0,4.0,1.0,5.0
98300,4621450845,2019-04-06 20:12:40,10875,False,1206,"{""account_id"": 86822085, ""player_slot"": 0, ""ne...","{""account_id"": 118207269, ""player_slot"": 1, ""n...","{""account_id"": 85312703, ""player_slot"": 2, ""ne...","{""account_id"": 176502766, ""player_slot"": 3, ""n...","{""account_id"": 85008179, ""player_slot"": 4, ""ne...",...,1.0,3.0,4.0,4.0,5.0,2.0,4.0,4.0,1.0,5.0
98301,4621444038,2019-04-06 20:09:56,10875,False,1262,"{""account_id"": 28070572, ""player_slot"": 0, ""ne...","{""account_id"": 100058342, ""player_slot"": 1, ""n...","{""account_id"": 349310876, ""player_slot"": 2, ""n...","{""account_id"": 109512357, ""player_slot"": 3, ""n...","{""account_id"": 97658618, ""player_slot"": 4, ""ne...",...,3.0,1.0,4.0,4.0,1.0,5.0,2.0,4.0,1.0,3.0

In [331]:
dfNew.to_csv('./games_new_parsed.csv', index=False)

In [332]:
df = pd.read_csv('./games_new_parsed.csv')
df

,match_id,start_time,league_id,radiant_win,duration,player_0,player_1,player_2,player_3,player_4,...,player_0_real_pos,player_1_real_pos,player_2_real_pos,player_3_real_pos,player_4_real_pos,player_5_real_pos,player_6_real_pos,player_7_real_pos,player_8_real_pos,player_9_real_pos
0,5713385142,2020-11-23 14:25:57,12528,True,2470,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 139876032, ""player_slot"": 1, ""n...","{""account_id"": 202217968, ""player_slot"": 2, ""n...","{""account_id"": 199222238, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,4.0,2.0,2.0,5.0,1.0,4.0,5.0,2.0,3.0
1,5713211230,2020-11-23 12:20:45,12528,False,1988,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 199222238, ""player_slot"": 1, ""n...","{""account_id"": 139876032, ""player_slot"": 2, ""n...","{""account_id"": 202217968, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,2.0,4.0,2.0,5.0,1.0,5.0,3.0,4.0,2.0
2,5668306545,2020-10-23 09:43:43,12528,False,2504,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 137895298, ""player_slot"": 1, ""n...","{""account_id"": 364481959, ""player_slot"": 2, ""n...","{""account_id"": 199222238, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,1.0,1.0,2.0,5.0,1.0,3.0,4.0,4.0,2.0
3,5710103743,2020-11-21 10:32:18,12528,False,1810,"{""account_id"": 138857296, ""player_slot"": 0, ""n...","{""account_id"": 202217968, ""player_slot"": 1, ""n...","{""account_id"": 199222238, ""player_slot"": 2, ""n...","{""account_id"": 139876032, ""player_slot"": 3, ""n...","{""account_id"": 101259972, ""player_slot"": 4, ""n...",...,3.0,2.0,2.0,4.0,5.0,1.0,5.0,3.0,4.0,2.0
4,5668258744,2020-10-23 08:51:47,12528,False,1942,"{""account_id"": 148215639, ""player_slot"": 0, ""n...","{""account_id"": 129958758, ""player_slot"": 1, ""n...","{""account_id"": 207829314, ""player_slot"": 2, ""n...","{""account_id"": 373520478, ""player_slot"": 3, ""n...","{""account_id"": 90031225, ""player_slot"": 4, ""ne...",...,1.0,3.0,4.0,2.0,4.0,3.0,1.0,1.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41696,4621277332,2019-04-06 18:59:52,10875,False,2719,"{""account_id"": 86726887, ""player_slot"": 0, ""ne...","{""account_id"": 108452107, ""player_slot"": 1, ""n...","{""account_id"": 10366616, ""player_slot"": 2, ""ne...","{""account_id"": 221666230, ""player_slot"": 3, ""n...","{""account_id"": 187824320, ""player_slot"": 4, ""n...",...,4.0,1.0,4.0,2.0,5.0,5.0,2.0,4.0,1.0,3.0
41697,4621277523,2019-04-06 18:59:56,10875,True,1824,"{""account_id"": 86822085, ""player_slot"": 0, ""ne...","{""account_id"": 118207269, ""player_slot"": 1, ""n...","{""account_id"": 85312703, ""player_slot"": 2, ""ne...","{""account_id"": 176502766, ""player_slot"": 3, ""n...","{""account_id"": 85008179, ""player_slot"": 4, ""ne...",...,1.0,3.0,4.0,4.0,5.0,3.0,1.0,4.0,4.0,1.0
41698,4621546749,2019-04-06 20:58:45,10875,False,1033,"{""account_id"": 28070572, ""player_slot"": 0, ""ne...","{""account_id"": 100058342, ""player_slot"": 1, ""n...","{""account_id"": 349310876, ""player_slot"": 2, ""n...","{""account_id"": 109512357, ""player_slot"": 3, ""n...","{""account_id"": 97658618, ""player_slot"": 4, ""ne...",...,3.0,1.0,4.0,4.0,1.0,4.0,2.0,4.0,1.0,5.0
41699,4621450845,2019-04-06 20:12:40,10875,False,1206,"{""account_id"": 86822085, ""player_slot"": 0, ""ne...","{""account_id"": 118207269, ""player_slot"": 1, ""n...","{""account_id"": 85312703, ""player_slot"": 2, ""ne...","{""account_id"": 176502766, ""player_slot"": 3, ""n...","{""account_id"": 85008179, ""player_slot"": 4, ""ne...",...,1.0,3.0,4.0,4.0,5.0,2.0,4.0,4.0,1.0,5.0
41700,4621444038,2019-04-06 20:09:56,10875,False,1262,"{""account_id"": 28070572, ""player_slot"": 0, ""ne...","{""account_id"": 100058342, ""player_slot"": 1, ""n...","{""account_id"": 349310876, ""player_slot"": 2, ""n...","{""account_id"": 109512357, ""player_slot"": 3, ""n...","{""account_id"": 97658618, ""player_slot"": 4, ""ne...",...,3.0,1.0,4.0,4.0,1.0,5.0,2.0,4.0,1.0,3.0

In [ ]:
for index, row in dfNew.iterrows():
    player = {'account_id': ''}
    dfPlayers = dfPlayers.append(player, ignore_index = True)
    dfPlayers.at[]