In [53]:
import requests
import pandas as pd
#import fsspec
from datetime import datetime, timedelta
from io import StringIO
import time
import numpy as np
import time

In [115]:
request_url = 'https://api.opendota.com/api/leagues'
r = requests.get(request_url).text

In [116]:
leaguesDf = pd.read_json(r, lines=True).T

In [117]:
leaguesDf['matches'] = [np.empty(0,dtype=float)]*len(leaguesDf)
leaguesDf

                                                      0 matches
0     {'leagueid': 11894, 'ticket': None, 'banner': ...      []
1     {'leagueid': 1223, 'ticket': None, 'banner': N...      []
2     {'leagueid': 1761, 'ticket': None, 'banner': N...      []
3     {'leagueid': 2061, 'ticket': None, 'banner': N...      []
4     {'leagueid': 2285, 'ticket': None, 'banner': N...      []
...                                                 ...     ...
4792  {'leagueid': 203, 'ticket': None, 'banner': No...      []
4793  {'leagueid': 1339, 'ticket': None, 'banner': N...      []
4794  {'leagueid': 3068, 'ticket': None, 'banner': N...      []
4795  {'leagueid': 207, 'ticket': None, 'banner': No...      []
4796  {'leagueid': 219, 'ticket': None, 'banner': No...      []

[4797 rows x 2 columns]

In [152]:
leaguesDf

,0,matches
0,"{'leagueid': 11894, 'ticket': None, 'banner': ...",[]
1,"{'leagueid': 1223, 'ticket': None, 'banner': N...",[]
2,"{'leagueid': 1761, 'ticket': None, 'banner': N...","[909614535, 909523648, 909155180, 909024942, 9..."
3,"{'leagueid': 2061, 'ticket': None, 'banner': N...","[1045688766, 1045586409, 1045442485, 104534795..."
4,"{'leagueid': 2285, 'ticket': None, 'banner': N...",[]
...,...,...
4792,"{'leagueid': 203, 'ticket': None, 'banner': No...","[587662944, 555826373, 575893269, 527928238]"
4793,"{'leagueid': 1339, 'ticket': None, 'banner': N...",[]
4794,"{'leagueid': 3068, 'ticket': None, 'banner': N...",[]
4795,"{'leagueid': 207, 'ticket': None, 'banner': No...",[]
4796,"{'leagueid': 219, 'ticket': None, 'banner': No...",[]

In [133]:
league_id = leaguesDf.loc[2][0]['leagueid']
request_url = 'https://api.opendota.com/api/leagues/' + str(league_id) + '/matches'
r = requests.get(request_url).text
matchDf = pd.read_json(r, lines=True).T

In [139]:
leaguesDf.drop(columns=['matches'])

                                                      0
0     {'leagueid': 11894, 'ticket': None, 'banner': ...
1     {'leagueid': 1223, 'ticket': None, 'banner': N...
2     {'leagueid': 1761, 'ticket': None, 'banner': N...
3     {'leagueid': 2061, 'ticket': None, 'banner': N...
4     {'leagueid': 2285, 'ticket': None, 'banner': N...
...                                                 ...
4792  {'leagueid': 203, 'ticket': None, 'banner': No...
4793  {'leagueid': 1339, 'ticket': None, 'banner': N...
4794  {'leagueid': 3068, 'ticket': None, 'banner': N...
4795  {'leagueid': 207, 'ticket': None, 'banner': No...
4796  {'leagueid': 219, 'ticket': None, 'banner': No...

[4797 rows x 1 columns]

In [147]:
matchDf

                                                     0
0    {'match_id': 909614535, 'match_seq_num': 81409...
1    {'match_id': 909523648, 'match_seq_num': 81400...
2    {'match_id': 909155180, 'match_seq_num': 81371...
3    {'match_id': 909024942, 'match_seq_num': 81359...
4    {'match_id': 908871129, 'match_seq_num': 81345...
5    {'match_id': 908747706, 'match_seq_num': 81334...
6    {'match_id': 908563554, 'match_seq_num': 81320...
7    {'match_id': 908390249, 'match_seq_num': 81305...
8    {'match_id': 907208533, 'match_seq_num': 81196...
9    {'match_id': 907269527, 'match_seq_num': 81204...
10   {'match_id': 906765117, 'match_seq_num': 81162...
11   {'match_id': 906664902, 'match_seq_num': 81149...
12   {'match_id': 906538190, 'match_seq_num': 81139...
13   {'match_id': 906373181, 'match_seq_num': 81125...
14   {'match_id': 906193503, 'match_seq_num': 81113...
15   {'match_id': 905229346, 'match_seq_num': 81024...
16   {'match_id': 905173830, 'match_seq_num': 81017...
17   {'match_id': 904629963, 'match_seq_num': 80970...
18   {'match_id': 904507755, 'match_seq_num': 80958...
19   {'match_id': 904346437, 'match_seq_num': 80945...
20   {'match_id': 904244364, 'match_seq_num': 80935...
21   {'match_id': 903142544, 'match_seq_num': 80837...
22   {'match_id': 903086379, 'match_seq_num': 80831...
23   {'match_id': 902698184, 'match_seq_num': 80803...
24   {'match_id': 902561635, 'match_seq_num': 80789...
25   {'match_id': 902401415, 'match_seq_num': 80774...
26   {'match_id': 902289596, 'match_seq_num': 80764...
27   {'match_id': 900815748, 'match_seq_num': 80637...
28   {'match_id': 900629598, 'match_seq_num': 80625...
29   {'match_id': 900490745, 'match_seq_num': 80608...
30   {'match_id': 900360449, 'match_seq_num': 80597...
31   {'match_id': 899406073, 'match_seq_num': 80511...
32   {'match_id': 899354416, 'match_seq_num': 80505...
33   {'match_id': 899085875, 'match_seq_num': 80481...
34   {'match_id': 898979668, 'match_seq_num': 80475...
35   {'match_id': 898840839, 'match_seq_num': 80463...
36   {'match_id': 898760850, 'match_seq_num': 80453...
37   {'match_id': 898519451, 'match_seq_num': 80436...
38   {'match_id': 898423261, 'match_seq_num': 80425...
39   {'match_id': 897334642, 'match_seq_num': 80330...
40   {'match_id': 897241891, 'match_seq_num': 80324...
41   {'match_id': 897138348, 'match_seq_num': 80312...
42   {'match_id': 897013924, 'match_seq_num': 80305...
43   {'match_id': 896832978, 'match_seq_num': 80293...
44   {'match_id': 896650282, 'match_seq_num': 80276...
45   {'match_id': 896332094, 'match_seq_num': 80242...
46   {'match_id': 896458004, 'match_seq_num': 80258...
47   {'match_id': 887849835, 'match_seq_num': 79504...
48   {'match_id': 887733835, 'match_seq_num': 79492...
49   {'match_id': 887555192, 'match_seq_num': 79479...
50   {'match_id': 887284268, 'match_seq_num': 79452...
51   {'match_id': 887423764, 'match_seq_num': 79464...
52   {'match_id': 887159122, 'match_seq_num': 79441...
53   {'match_id': 886103952, 'match_seq_num': 79345...
54   {'match_id': 886001068, 'match_seq_num': 79339...
55   {'match_id': 885729416, 'match_seq_num': 79312...
56   {'match_id': 885536690, 'match_seq_num': 79302...
57   {'match_id': 885374603, 'match_seq_num': 79286...
58   {'match_id': 885237958, 'match_seq_num': 79272...
59   {'match_id': 884063754, 'match_seq_num': 79171...
60   {'match_id': 883933658, 'match_seq_num': 79160...
61   {'match_id': 883834135, 'match_seq_num': 79146...
62   {'match_id': 883401892, 'match_seq_num': 79116...
63   {'match_id': 883613697, 'match_seq_num': 79133...
64   {'match_id': 883275034, 'match_seq_num': 79099...
65   {'match_id': 881790580, 'match_seq_num': 78967...
66   {'match_id': 881697146, 'match_seq_num': 78956...
67   {'match_id': 881348838, 'match_seq_num': 78936...
68   {'match_id': 881552096, 'match_seq_num': 78947...
69   {'match_id': 879178269, 'match_seq_num': 78737...
70   {'match_id': 879031048, 'match_seq_num': 78724...
71   {'match_id': 878585722, 'match_seq_num': 78683...
72   {'match_id': 878429372, 'match_seq_num': 78670...
73   {'match_id': 876884484, 'match_seq_num': 78536...
74   {'match_id': 876783745, 'match_seq_num': 78522...
75   {'match_id': 876308958, 'match_seq_num': 78483...
76   {'match_id': 876144350, 'match_seq_num': 78469...
77   {'match_id': 875964675, 'match_seq_num': 78452...
78   {'match_id': 875857347, 'match_seq_num': 78440...
79   {'match_id': 874492904, 'match_seq_num': 78322...
80   {'match_id': 874201839, 'match_seq_num': 78294...
81   {'match_id': 873974938, 'match_seq_num': 78278...
82   {'match_id': 873318300, 'match_seq_num': 78217...
83   {'match_id': 873387333, 'match_seq_num': 78221...
84   {'match_id': 872683219, 'match_seq_num': 78162...
85   {'match_id': 872590955, 'match_seq_num': 78154...
86   {'match_id': 872299624, 'match_seq_num': 78128...
87   {'match_id': 871849195, 'match_seq_num': 78088...
88   {'match_id': 872152311, 'match_seq_num': 78119...
89   {'match_id': 871736963, 'match_seq_num': 78080...
90   {'match_id': 871798819, 'match_seq_num': 78084...
91   {'match_id': 871257565, 'match_seq_num': 78037...
92   {'match_id': 871205962, 'match_seq_num': 78032...
93   {'match_id': 870986309, 'match_seq_num': 78017...
94   {'match_id': 870836700, 'match_seq_num': 78007...
95   {'match_id': 870779608, 'match_seq_num': 77997...
96   {'match_id': 870728030, 'match_seq_num': 77990...
97   {'match_id': 870710983, 'match_seq_num': 77991...
98   {'match_id': 870572250, 'match_seq_num': 77985...
99   {'match_id': 870605618, 'match_seq_num': 77982...
100  {'match_id': 870143708, 'match_seq_num': 77942...
101  {'match_id': 870188231, 'match_seq_num': 77946...
102  {'match_id': 869700555, 'match_seq_num': 77904...
103  {'match_id': 869608186, 'match_seq_num': 77897...
104  {'match_id': 868477082, 'match_seq_num': 77797...
105  {'match_id': 868426887, 'match_seq_num': 77793...
106  {'match_id': 863781667, 'match_seq_num': 77393...
107  {'match_id': 863706767, 'match_seq_num': 77385...
108  {'match_id': 863338020, 'match_seq_num': 77356...
109  {'match_id': 863245072, 'match_seq_num': 77345...
110  {'match_id': 857492900, 'match_seq_num': 76854...
111  {'match_id': 857402984, 'match_seq_num': 76843...
112  {'match_id': 874295289, 'match_seq_num': 78296...
113  {'match_id': 991024920, 'match_seq_num': 88689...
114  {'match_id': 990685140, 'match_seq_num': 88658...
115  {'match_id': 990836021, 'match_seq_num': 88675...
116  {'match_id': 990541331, 'match_seq_num': 88644...
117  {'match_id': 925574123, 'match_seq_num': 82808...
118  {'match_id': 925415539, 'match_seq_num': 82798...
119  {'match_id': 925247137, 'match_seq_num': 82782...
120  {'match_id': 925010694, 'match_seq_num': 82767...
121  {'match_id': 924648039, 'match_seq_num': 82732...
122  {'match_id': 924088814, 'match_seq_num': 82696...
123  {'match_id': 923728699, 'match_seq_num': 82657...
124  {'match_id': 923571401, 'match_seq_num': 82636...
125  {'match_id': 921530645, 'match_seq_num': 82470...
126  {'match_id': 921342872, 'match_seq_num': 82442...
127  {'match_id': 923951478, 'match_seq_num': 82667...

In [146]:
matchDf.loc[0][0]

{'match_id': 909614535,
 'match_seq_num': 814098301,
 'radiant_win': False,
 'start_time': 1411238761,
 'duration': 1816,
 'tower_status_radiant': 1968,
 'tower_status_dire': 1830,
 'barracks_status_radiant': 62,
 'barracks_status_dire': 63,
 'cluster': 136,
 'first_blood_time': 40,
 'lobby_type': 1,
 'human_players': 10,
 'leagueid': 1761,
 'positive_votes': 25,
 'negative_votes': 4,
 'game_mode': 2,
 'engine': 0,
 'picks_bans': [{'is_pick': False, 'hero_id': 77, 'team': 0, 'order': 0},
  {'is_pick': False, 'hero_id': 43, 'team': 1, 'order': 1},
  {'is_pick': False, 'hero_id': 101, 'team': 0, 'order': 2},
  {'is_pick': False, 'hero_id': 15, 'team': 1, 'order': 3},
  {'is_pick': True, 'hero_id': 47, 'team': 0, 'order': 4},
  {'is_pick': True, 'hero_id': 56, 'team': 1, 'order': 5},
  {'is_pick': True, 'hero_id': 3, 'team': 1, 'order': 6},
  {'is_pick': True, 'hero_id': 41, 'team': 0, 'order': 7},
  {'is_pick': False, 'hero_id': 34, 'team': 0, 'order': 8},
  {'is_pick': False, 'hero_id': 33, 'team': 1, 'order': 9},
  {'is_pick': False, 'hero_id': 9, 'team': 0, 'order': 10},
  {'is_pick': False, 'hero_id': 69, 'team': 1, 'order': 11},
  {'is_pick': True, 'hero_id': 29, 'team': 1, 'order': 12},
  {'is_pick': True, 'hero_id': 64, 'team': 0, 'order': 13},
  {'is_pick': True, 'hero_id': 7, 'team': 1, 'order': 14},
  {'is_pick': True, 'hero_id': 86, 'team': 0, 'order': 15},
  {'is_pick': False, 'hero_id': 53, 'team': 1, 'order': 16},
  {'is_pick': False, 'hero_id': 78, 'team': 0, 'order': 17},
  {'is_pick': True, 'hero_id': 1, 'team': 1, 'order': 18},
  {'is_pick': True, 'hero_id': 16, 'team': 0, 'order': 19}],
 'radiant_team_id': 3,
 'dire_team_id': 1883502,
 'radiant_team_name': None,
 'dire_team_name': None,
 'radiant_team_complete': 1,
 'dire_team_complete': 1,
 'radiant_captain': 49317728,
 'dire_captain': 89137399,
 'chat': [{'time': -85,
   'type': 'chat',
   'unit': 'In silence we stand alone',
   'key': 'G?'},
  {'time': -85, 'type': 'chat', 'unit': 'Silhouette', 'key': 'sry go'},
  {'time': -85, 'type': 'chat', 'unit': 'coL.Zfreek', 'key': 'rdy'},
  {'time': 1807, 'type': 'chat', 'unit': 'coL.Limmp', 'key': 'gg'},
  {'time': 1809,
   'type': 'chat',
   'unit': 'Virtus.pro Polar > Lil',
   'key': 'gg wp'},
  {'time': 1809,
   'type': 'chat',
   'unit': 'In silence we stand alone',
   'key': 'gg'},
  {'time': 1811, 'type': 'chat', 'unit': 'МНЕ ВЕЗЁТ - Я ИГРА', 'key': 'gg wp'},
  {'time': 1811, 'type': 'chat', 'unit': 'Silhouette', 'key': 'gg'},
  {'time': 1811, 'type': 'chat', 'unit': 'coL.Zfreek', 'key': 'gg'},
  {'time': 1814,
   'type': 'chat',
   'unit': 'Virtus.pro Polar > Lil',
   'key': 'gl guys'},
  {'time': 1817, 'type': 'chat', 'unit': 'coL.MoonMeander', 'key': '^^'},
  {'time': 1820, 'type': 'chat', 'unit': 'coL.MoonMeander', 'key': 'gg'},
  {'time': 1822, 'type': 'chat', 'unit': 'DkPhobos', 'key': 'wp'}],
 'objectives': [{'time': 41,
   'type': 'CHAT_MESSAGE_FIRSTBLOOD',
   'slot': 7,
   'key': 0},
  {'time': 363,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_tidehunter',
   'key': 'npc_dota_badguys_tower1_bot'},
  {'time': 556,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_faceless_void',
   'key': 'npc_dota_badguys_tower1_mid'},
  {'time': 587,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_antimage',
   'key': 'npc_dota_goodguys_tower1_top'},
  {'time': 755,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_earthshaker',
   'key': 'npc_dota_goodguys_tower1_mid'},
  {'time': 1031,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_antimage',
   'key': 'npc_dota_goodguys_tower2_top'},
  {'time': 1035,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_jakiro',
   'key': 'npc_dota_badguys_tower2_mid'},
  {'time': 1043,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_clinkz',
   'key': 'npc_dota_goodguys_tower1_bot'},
  {'time': 1114, 'type': 'CHAT_MESSAGE_COURIER_LOST', 'team': 2},
  {'time': 1379,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_antimage',
   'key': 'npc_dota_goodguys_tower3_top'},
  {'time': 1747,
   'type': 'building_kill',
   'unit': 'npc_dota_hero_antimage',
   'key': 'npc_dota_goodguys_melee_rax_top'}],
 'radiant_gold_adv': [],
 'radiant_xp_adv': [],
 'teamfights': [],
 'version': 21,
 'cosmetics': {},
 'radiant_score': 0,
 'dire_score': 0,
 'draft_timings': [],
 'series_id': 0,
 'series_type': 0}

In [145]:
d = dict(matchDf.loc[0][0])

pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in d.items() ]))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,first_blood_time,lobby_type,human_players,leagueid,positive_votes,negative_votes,game_mode,engine,picks_bans,radiant_team_id,dire_team_id,radiant_team_name,dire_team_name,radiant_team_complete,dire_team_complete,radiant_captain,dire_captain,chat,objectives,radiant_gold_adv,radiant_xp_adv,teamfights,version,cosmetics,radiant_score,dire_score,draft_timings,series_id,series_type
0,909614535.0,814098301.0,False,1.411239e+09,1816.0,1968.0,1830.0,62.0,63.0,136.0,40.0,1.0,10.0,1761.0,25.0,4.0,2.0,0.0,"{'is_pick': False, 'hero_id': 77, 'team': 0, '...",3.0,1883502.0,NaN,NaN,1.0,1.0,49317728.0,89137399.0,"{'time': -85, 'type': 'chat', 'unit': 'In sile...","{'time': 41, 'type': 'CHAT_MESSAGE_FIRSTBLOOD'...",NaN,NaN,NaN,21.0,NaN,0.0,0.0,NaN,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 43, 'team': 1, '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': -85, 'type': 'chat', 'unit': 'Silhoue...","{'time': 363, 'type': 'building_kill', 'unit':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 101, 'team': 0, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': -85, 'type': 'chat', 'unit': 'coL.Zfr...","{'time': 556, 'type': 'building_kill', 'unit':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 15, 'team': 1, '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1807, 'type': 'chat', 'unit': 'coL.Li...","{'time': 587, 'type': 'building_kill', 'unit':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 47, 'team': 0, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1809, 'type': 'chat', 'unit': 'Virtus...","{'time': 755, 'type': 'building_kill', 'unit':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 56, 'team': 1, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1809, 'type': 'chat', 'unit': 'In sil...","{'time': 1031, 'type': 'building_kill', 'unit'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 3, 'team': 1, 'or...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1811, 'type': 'chat', 'unit': 'МНЕ ВЕ...","{'time': 1035, 'type': 'building_kill', 'unit'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 41, 'team': 0, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1811, 'type': 'chat', 'unit': 'Silhou...","{'time': 1043, 'type': 'building_kill', 'unit'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 34, 'team': 0, '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1811, 'type': 'chat', 'unit': 'coL.Zf...","{'time': 1114, 'type': 'CHAT_MESSAGE_COURIER_L...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 33, 'team': 1, '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1814, 'type': 'chat', 'unit': 'Virtus...","{'time': 1379, 'type': 'building_kill', 'unit'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 9, 'team': 0, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1817, 'type': 'chat', 'unit': 'coL.Mo...","{'time': 1747, 'type': 'building_kill', 'unit'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 69, 'team': 1, '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1820, 'type': 'chat', 'unit': 'coL.Mo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 29, 'team': 1, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'time': 1822, 'type': 'chat', 'unit': 'DkPhob...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 64, 'team': 0, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 7, 'team': 1, 'or...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 86, 'team': 0, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 53, 'team': 1, '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': False, 'hero_id': 78, 'team': 0, '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 1, 'team': 1, 'or...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'is_pick': True, 'hero_id': 16, 'team': 0, 'o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
pd.DataFrame.from_records(matchDf.loc[0][0])

ValueError: arrays must all be same length

In [123]:
start = time.time()
for index, row in leaguesDf.iterrows():
    league_id = row[0]['leagueid']
    request_url = 'https://api.opendota.com/api/leagues/' + str(league_id) + '/matches'
    r = requests.get(request_url).text
    matchDf = pd.read_json(r, lines=True).T
    if matchDf.shape[0] != 0:
        tmpMatches = []
        for index2, row2 in matchDf.iterrows():
            tmpMatches.append(row2[0]['match_id'])
        leaguesDf.at[index, 'matches'] = tmpMatches
    else:
        time.sleep(1)
    if index % 100 == 0:
        end = time.time()
        print(index, end - start, "seconds passed")

1200 7.354436159133911 seconds passed
1300 188.61178278923035 seconds passed
1400 398.3457090854645 seconds passed
1500 614.7179799079895 seconds passed
1600 815.1137290000916 seconds passed
1700 1000.6315751075745 seconds passed
1800 1137.1836559772491 seconds passed
1900 1304.9766519069672 seconds passed
2000 1487.3805499076843 seconds passed
2100 1666.5263109207153 seconds passed
2200 1804.6119198799133 seconds passed
2300 1949.3270888328552 seconds passed
2400 2118.1595351696014 seconds passed
2500 2299.9908878803253 seconds passed
2600 2471.4773819446564 seconds passed
2700 2650.520674943924 seconds passed
2800 2826.657434940338 seconds passed
2900 3007.213907957077 seconds passed
3000 3221.9546518325806 seconds passed
3100 3400.387516975403 seconds passed
3200 3565.622738838196 seconds passed
3300 3707.8844299316406 seconds passed
3400 3864.8925800323486 seconds passed
3500 4035.8840758800507 seconds passed
3600 4192.212610006332 seconds passed
3700 4383.195698976517 seconds passed
3800 4570.495679855347 seconds passed
3900 4720.848809957504 seconds passed
4000 4884.862282037735 seconds passed
4100 5045.20770406723 seconds passed
4200 5242.95069694519 seconds passed
4300 5444.067748069763 seconds passed
4400 5607.060760974884 seconds passed
4500 5888.780643939972 seconds passed
4600 6060.8733150959015 seconds passed
4700 6226.920589923859 seconds passed

In [124]:
leaguesDf.to_csv('./leagues.csv')