In [1]:
import requests
import pandas as pd
#import fsspec
from datetime import datetime, timedelta
from io import StringIO
import time
import numpy as np
import time
from ast import literal_eval

In [2]:
import json

In [3]:
leaguesDf = pd.read_csv('./leagues_parsed.csv')
leaguesDf = leaguesDf.drop(leaguesDf.columns[0], axis=1)

In [4]:
def matches_to_list(matches):
    matches = matches[2:-2]
    li = list(matches.split("\', \'"))
    return li

In [5]:
leaguesDf['matches'] = leaguesDf['matches'].apply(matches_to_list)

In [8]:
#WHEN APPENDING TO ALREADY EXISTING DF
matchesDf = pd.read_csv('46000_samples.csv')
matchesDf = matchesDf.drop(matchesDf.columns[0], axis=1)

In [74]:
#WHEN FIRST CREATING DF
matchesDf = pd.DataFrame()
matchesDf['match_id'] = 0
matchesDf['start_time'] = 0
matchesDf['league_id'] = 0
matchesDf['radiant_win'] = False
matchesDf['duration'] = 0
matchesDf['player_0'] = 0
matchesDf['player_1'] = 0
matchesDf['player_2'] = 0
matchesDf['player_3'] = 0
matchesDf['player_4'] = 0
matchesDf['player_5'] = 0
matchesDf['player_6'] = 0
matchesDf['player_7'] = 0
matchesDf['player_8'] = 0
matchesDf['player_9'] = 0

In [75]:
broken_games = []

In [82]:
def get_last_ids(matches):
    if matches.shape[0] == 0:
        return 0, 0
    else:
        last_league = matches.loc[matches.shape[0] - 1]['league_id']
        fl = True
        i = matches.shape[0] - 2
        j = 0
        while fl:
            if matches.loc[i]['league_id'] != last_league:
                fl = False
            i -= 1
            j += 1
        #print('last league id:', last_league, 'index in leaguesDf:', leaguesDf.loc[leaguesDf['league_id'] == last_league].index[0],  'games parsed:', j)
        return leaguesDf.loc[leaguesDf['league_id'] == last_league].index[0], j

In [94]:
matchesDf.shape[0]

128

In [43]:
get_last_ids(matchesDf)

last league id: 4874 index in leaguesDf: 530 games parsed: 47

In [7]:
matches = leaguesDf.loc[0]['matches']
payload = {'key': '4D52001F08216AA0FCD419BD3458DC28', 'match_id': matches[0]}
request_url = 'https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001'
r = requests.get(request_url, params=payload)
matchDf = pd.read_json(r.text)

In [8]:
matchDf

                                                                    result
barracks_status_dire                                                    63
barracks_status_radiant                                                 62
cluster                                                                136
dire_captain                                                      89137399
dire_logo                                              1740069961068193325
dire_name                                                       Virtus.pro
dire_score                                                               0
dire_team_complete                                                       1
dire_team_id                                                       1883502
duration                                                              1816
engine                                                                   0
first_blood_time                                                        40
flags                                                                    0
game_mode                                                                2
human_players                                                           10
leagueid                                                              1761
lobby_type                                                               1
match_id                                                         909614535
match_seq_num                                                    814098301
negative_votes                                                           4
picks_bans               [{'is_pick': False, 'hero_id': 77, 'team': 0, ...
players                  [{'account_id': 49317728, 'player_slot': 0, 'h...
positive_votes                                                          25
pre_game_duration                                                        0
radiant_captain                                                   49317728
radiant_logo                                            802116058284669897
radiant_name                                             compLexity Gaming
radiant_score                                                            0
radiant_team_complete                                                    1
radiant_team_id                                                          3
radiant_win                                                          False
start_time                                                      1411238761
tower_status_dire                                                     1830
tower_status_radiant                                                  1968

In [89]:
#Add single league matches to matchesDf
start = time.time()
matches = leaguesDf.loc[get_last_ids(matchesDf)[0]]['matches']
print(str(len(matches)) + " matches in " + str(leaguesDf.loc[get_last_ids(matchesDf)[0]]['league_name']) + "\n\n\n")
for i in range(get_last_ids(matchesDf)[1], len(matches)):
    payload = {'key': '4D52001F08216AA0FCD419BD3458DC28', 'match_id': matches[i]}
    request_url = 'https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001'
    r = requests.get(request_url, params=payload)
    matchDf = pd.read_json(r.text)
    players = []
    all_players_exist = True
    for player in range(0, 10):
        if "account_id" in matchDf.loc['players']['result'][player]:
            playersDict = {
                "account_id": matchDf.loc['players']['result'][player]['account_id'],
                "player_slot": matchDf.loc['players']['result'][player]['player_slot'],
                "net_worth": matchDf.loc['players']['result'][player]['net_worth'],
                "kills": matchDf.loc['players']['result'][player]['kills'],
                "deaths": matchDf.loc['players']['result'][player]['deaths'],
                "assists": matchDf.loc['players']['result'][player]['assists'],
                "last_hits": matchDf.loc['players']['result'][player]['last_hits'],
                "denies": matchDf.loc['players']['result'][player]['denies']
            }
            players.append(playersDict)
        else:
            all_players_exist = False
    if all_players_exist:
        match = {'match_id': matches[i], 'start_time': matchDf.loc['start_time']['result'], 'league_id': matchDf.loc['leagueid']['result'], 'radiant_win': matchDf.loc['radiant_win']['result'], 'duration': matchDf.loc['duration']['result'], 'player_0': players[0], 'player_1': players[1], 'player_2': players[2], 'player_3': players[3], 'player_4': players[4], 'player_5': players[5], 'player_6': players[6], 'player_7': players[7], 'player_8': players[8], 'player_9': players[9]}
        matchesDf = matchesDf.append(match, ignore_index=True)
    else:
        print("ERRIR!!!!!!!!!!!!!!!!!!!!!!!!!")
        broken_games.append(matches[i])
    if i % 10 == 0:
        print("Parsed", i, 'matches.')
    end = time.time()
print(end - start, "seconds passed")

KeyError: -1

In [88]:
leaguesDf

,matches,league_id,league_ticket,league_banner,league_tier,league_name,games_num
0,"[909614535, 909523648, 909155180, 909024942, 9...",1761,NaN,NaN,professional,Excellent Moscow Cup Season 2,1408
1,"[1045688766, 1045586409, 1045442485, 104534795...",2061,NaN,NaN,professional,ESL Think Fast Razer League + HUD Skin,852
2,"[1337377384, 1337120175, 1336298304, 133717262...",2511,NaN,NaN,professional,Major Allstars tournament,1056
3,"[1730814626, 1725655035, 1728225922, 172566343...",3221,NaN,NaN,professional,On Art Challenge Series #2,636
4,"[4145826614, 4145986440, 4145705949, 414614096...",3455,NaN,NaN,professional,Elpadrinoth Latin Tournaments Season 2,264
...,...,...,...,...,...,...,...
991,"[32403902, 31939673, 30064720, 30242039, 29845...",4,econ/leagues/subscriptions_thedefense,econ/leagues/the_defense,professional,The Defense,1110
992,"[185954339, 179800433, 179751616, 176792062]",37,econ/leagues/subscriptions_atod3,econ/leagues/subscriptions_atod3_ingame,professional,AtoD 3,44
993,"[19934308, 19926255, 19910918, 19917771, 19896...",2,econ/tools/gift_multiple,econ/leagues/subscription_logo_the_wildcards,premium,Wild Cards West,350
994,"[957784984, 958652511, 958531303, 958446330, 9...",1245,NaN,NaN,professional,SuL,517
995,"[587662944, 555826373, 575893269, 527928238]",203,NaN,NaN,professional,DotaCinema Presents: The XMG Captains Draft In...,44

In [85]:
broken_games

[]

In [86]:
leaguesDf

,matches,league_id,league_ticket,league_banner,league_tier,league_name,games_num
0,"[909614535, 909523648, 909155180, 909024942, 9...",1761,NaN,NaN,professional,Excellent Moscow Cup Season 2,1408
1,"[1045688766, 1045586409, 1045442485, 104534795...",2061,NaN,NaN,professional,ESL Think Fast Razer League + HUD Skin,852
2,"[1337377384, 1337120175, 1336298304, 133717262...",2511,NaN,NaN,professional,Major Allstars tournament,1056
3,"[1730814626, 1725655035, 1728225922, 172566343...",3221,NaN,NaN,professional,On Art Challenge Series #2,636
4,"[4145826614, 4145986440, 4145705949, 414614096...",3455,NaN,NaN,professional,Elpadrinoth Latin Tournaments Season 2,264
...,...,...,...,...,...,...,...
991,"[32403902, 31939673, 30064720, 30242039, 29845...",4,econ/leagues/subscriptions_thedefense,econ/leagues/the_defense,professional,The Defense,1110
992,"[185954339, 179800433, 179751616, 176792062]",37,econ/leagues/subscriptions_atod3,econ/leagues/subscriptions_atod3_ingame,professional,AtoD 3,44
993,"[19934308, 19926255, 19910918, 19917771, 19896...",2,econ/tools/gift_multiple,econ/leagues/subscription_logo_the_wildcards,premium,Wild Cards West,350
994,"[957784984, 958652511, 958531303, 958446330, 9...",1245,NaN,NaN,professional,SuL,517
995,"[587662944, 555826373, 575893269, 527928238]",203,NaN,NaN,professional,DotaCinema Presents: The XMG Captains Draft In...,44

In [63]:
start = time.time()
print("ERROR")
for index, row in leaguesDf.iloc[get_last_ids(matchesDf)[0] + 1:].iterrows():
    matches = row['matches']
    print(len(matches), "matches in", row['league_name'], "league. League num = ", index, "\n\n\n")
    for i in range(0, len(matches)):
        payload = {'key': '4D52001F08216AA0FCD419BD3458DC28', 'match_id': matches[i]}
        request_url = 'https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001'
        r = requests.get(request_url, params=payload)
        try:
            matchDf = pd.read_json(r.text)
        except ValueError:
            print("\n\n\nERROR!!!!!!!!!!!!!!!!!\nLeague_id == " + str(index) + ". Match num:" + str(i) + "\n\n\n")
            break
                
        players = []
        all_players_exist = True
        for player in range(0, 10):
            if "account_id" in matchDf.loc['players']['result'][player]:
                playersDict = {
                    "account_id": matchDf.loc['players']['result'][player]['account_id'],
                    "player_slot": matchDf.loc['players']['result'][player]['player_slot'],
                    "net_worth": matchDf.loc['players']['result'][player]['net_worth'],
                    "kills": matchDf.loc['players']['result'][player]['kills'],
                    "deaths": matchDf.loc['players']['result'][player]['deaths'],
                    "assists": matchDf.loc['players']['result'][player]['assists'],
                    "last_hits": matchDf.loc['players']['result'][player]['last_hits'],
                    "denies": matchDf.loc['players']['result'][player]['denies']
                }
                players.append(playersDict)
            else:
                all_players_exist = False
        if all_players_exist:
            match = {'match_id': matches[i], 'start_time': matchDf.loc['start_time']['result'], 'league_id': matchDf.loc['leagueid']['result'], 'radiant_win': matchDf.loc['radiant_win']['result'], 'duration': matchDf.loc['duration']['result'], 'player_0': players[0], 'player_1': players[1], 'player_2': players[2], 'player_3': players[3], 'player_4': players[4], 'player_5': players[5], 'player_6': players[6], 'player_7': players[7], 'player_8': players[8], 'player_9': players[9]}
            matchesDf = matchesDf.append(match, ignore_index=True)
        else:
            broken_games.append(matches[i])
        if i % 10 == 0:
            print("Parsed", i, 'matches.')
    end = time.time()
    print(index, end - start, "seconds passed")
    if index % 100 == 0:
        matchesDf.to_csv('./' + str(matchesDf.shape[0]) + 'samples.csv')

ERROR

In [68]:
matchesDf.to_csv('full_first_time.csv')

In [33]:
matchesDf.to_csv('29000_samples.csv')

In [30]:
matchesDf = matchesDf[:23722]

In [32]:
matchesDf

,match_id,start_time,league_id,radiant_win,duration,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
0,909614535,1411238761,1761,False,1816,"{'account_id': 49317728, 'player_slot': 0, 'ne...","{'account_id': 12231202, 'player_slot': 1, 'ne...","{'account_id': 38628747, 'player_slot': 2, 'ne...","{'account_id': 50828662, 'player_slot': 3, 'ne...","{'account_id': 44111721, 'player_slot': 4, 'ne...","{'account_id': 89137399, 'player_slot': 128, '...","{'account_id': 26316691, 'player_slot': 129, '...","{'account_id': 86750262, 'player_slot': 130, '...","{'account_id': 94338967, 'player_slot': 131, '...","{'account_id': 106809101, 'player_slot': 132, ..."
1,909523648,1411236053,1761,True,1351,"{'account_id': 89137399, 'player_slot': 0, 'ne...","{'account_id': 26316691, 'player_slot': 1, 'ne...","{'account_id': 86750262, 'player_slot': 2, 'ne...","{'account_id': 94338967, 'player_slot': 3, 'ne...","{'account_id': 106809101, 'player_slot': 4, 'n...","{'account_id': 49317728, 'player_slot': 128, '...","{'account_id': 12231202, 'player_slot': 129, '...","{'account_id': 38628747, 'player_slot': 130, '...","{'account_id': 50828662, 'player_slot': 131, '...","{'account_id': 44111721, 'player_slot': 132, '..."
2,909155180,1411226737,1761,True,1888,"{'account_id': 94049589, 'player_slot': 0, 'ne...","{'account_id': 89625472, 'player_slot': 1, 'ne...","{'account_id': 70388657, 'player_slot': 2, 'ne...","{'account_id': 11550182, 'player_slot': 3, 'ne...","{'account_id': 86723143, 'player_slot': 4, 'ne...","{'account_id': 88271237, 'player_slot': 128, '...","{'account_id': 29337472, 'player_slot': 129, '...","{'account_id': 40013910, 'player_slot': 130, '...","{'account_id': 16769223, 'player_slot': 131, '...","{'account_id': 99845008, 'player_slot': 132, '..."
3,909024942,1411223777,1761,False,1876,"{'account_id': 88271237, 'player_slot': 0, 'ne...","{'account_id': 29337472, 'player_slot': 1, 'ne...","{'account_id': 40013910, 'player_slot': 2, 'ne...","{'account_id': 16769223, 'player_slot': 3, 'ne...","{'account_id': 99845008, 'player_slot': 4, 'ne...","{'account_id': 94049589, 'player_slot': 128, '...","{'account_id': 89625472, 'player_slot': 129, '...","{'account_id': 70388657, 'player_slot': 130, '...","{'account_id': 11550182, 'player_slot': 131, '...","{'account_id': 86723143, 'player_slot': 132, '..."
4,908871129,1411220388,1761,True,2007,"{'account_id': 21265941, 'player_slot': 0, 'ne...","{'account_id': 72312627, 'player_slot': 1, 'ne...","{'account_id': 24009418, 'player_slot': 2, 'ne...","{'account_id': 8712306, 'player_slot': 3, 'net...","{'account_id': 85375207, 'player_slot': 4, 'ne...","{'account_id': 96169991, 'player_slot': 128, '...","{'account_id': 146772593, 'player_slot': 129, ...","{'account_id': 97590558, 'player_slot': 130, '...","{'account_id': 26682464, 'player_slot': 131, '...","{'account_id': 53151216, 'player_slot': 132, '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28725,4784706293,1558847050,10684,False,1890,"{'account_id': 97048475, 'player_slot': 0, 'ne...","{'account_id': 102070845, 'player_slot': 1, 'n...","{'account_id': 197098235, 'player_slot': 2, 'n...","{'account_id': 112297739, 'player_slot': 3, 'n...","{'account_id': 121532383, 'player_slot': 4, 'n...","{'account_id': 89603649, 'player_slot': 128, '...","{'account_id': 66598119, 'player_slot': 129, '...","{'account_id': 76904792, 'player_slot': 130, '...","{'account_id': 89654154, 'player_slot': 131, '...","{'account_id': 163392533, 'player_slot': 132, ..."
28726,4785255999,1558859409,10684,True,1322,"{'account_id': 89603649, 'player_slot': 0, 'ne...","{'account_id': 66598119, 'player_slot': 1, 'ne...","{'account_id': 76904792, 'player_slot': 2, 'ne...","{'account_id': 89654154, 'player_slot': 3, 'ne...","{'account_id': 163392533, 'player_slot': 4, 'n...","{'account_id': 142536387, 'player_slot': 128, ...","{'account_id': 108030695, 'player_slot': 129, ...","{'account_id': 84234671, 'player_slot': 130, '...","{'account_id': 105184229, 'player_slot': 131, ...","{'account_id': 92164306, 'player_slot': 132, '..."
28727,4764601569,1558242178,10684,True,2472,"{'account_id': 126323933, 'player_slot': 0, 'n...","{'account_id': 154223815, 'player_slot': 1, 'n...","{'account_id': 173378701, 'player_slot': 2, 'n...","{'account_id': 92620439, 'player_slot': 3, 'ne...","{'account_id': 348840109, 'player_slot': 4, 'n...","{'account_id': 248388120, 'player_slot': 128, ...","{'account_id': 190738832, 'player_slot': 129, ...","{'account_id': 281790498, 'player_slot': 130, ...","{'account_id': 385295772, 'player_slot': 131, ...","{'account_id': 292829433, 'player_slot': 132, ..."
28728,4761673026,1558168496,10684,True,2931,"{'account_id': 121833213, 'player_slot': 0, 'n...","{'account_id': 94762375, 'player_slot': 1, 'ne...","{'account_id': 323792491, 'player_slot': 2, 'n...","{'account_id': 100895600, 'player_slot': 3, 'n...","{'account_id': 196931374, 'player_slot': 4, 'n...","{'account_id': 126323933, 'player_slot': 128, ...","{'account_id': 92620439, 'player_slot': 129, '...","{'account_id': 154223815, 'player_slot': 130, ...","{'account_id': 173378701, 'player_slot': 131, ...","{'account_id': 348840109, 'player_slot': 132, ..."
28729,4764477860,1558238709,10684,True,1864,"{'account_id': 92620439, 'player_slot': 0, 'ne...","{'account_id': 126323933, 'player_slot': 1, 'n...","{'account_id': 154223815, 'player_slot': 2, 'n...","{'account_id': 173378701, 'player_slot': 3, 'n...","{'account_id': 348840109, 'player_slot': 4, 'n...","{'account_id': 248388120, 'player_slot': 128, ...","{'account_id': 190738832, 'player_slot': 129, ...","{'account_id': 292829433, 'player_slot': 130, ...","{'account_id': 385295772, 'player_slot': 131, ...","{'account_id': 281790498, 'player_slot': 132, ..."

In [20]:
leaguesDf.loc[63]

matches          [3010688520, 3010640333, 2987661229, 298756417...
league_id                                                     4644
league_ticket                                                  NaN
league_banner                                                  NaN
league_tier                                           professional
league_name                           CZ-SK Dota 2 League Season 8
games_num                                                      552
Name: 63, dtype: object

In [23]:
matchesDf

,match_id,start_time,league_id,radiant_win,duration,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
0,909614535,1411238761,1761,False,1816,"{'account_id': 49317728, 'player_slot': 0, 'ne...","{'account_id': 12231202, 'player_slot': 1, 'ne...","{'account_id': 38628747, 'player_slot': 2, 'ne...","{'account_id': 50828662, 'player_slot': 3, 'ne...","{'account_id': 44111721, 'player_slot': 4, 'ne...","{'account_id': 89137399, 'player_slot': 128, '...","{'account_id': 26316691, 'player_slot': 129, '...","{'account_id': 86750262, 'player_slot': 130, '...","{'account_id': 94338967, 'player_slot': 131, '...","{'account_id': 106809101, 'player_slot': 132, ..."
1,909523648,1411236053,1761,True,1351,"{'account_id': 89137399, 'player_slot': 0, 'ne...","{'account_id': 26316691, 'player_slot': 1, 'ne...","{'account_id': 86750262, 'player_slot': 2, 'ne...","{'account_id': 94338967, 'player_slot': 3, 'ne...","{'account_id': 106809101, 'player_slot': 4, 'n...","{'account_id': 49317728, 'player_slot': 128, '...","{'account_id': 12231202, 'player_slot': 129, '...","{'account_id': 38628747, 'player_slot': 130, '...","{'account_id': 50828662, 'player_slot': 131, '...","{'account_id': 44111721, 'player_slot': 132, '..."
2,909155180,1411226737,1761,True,1888,"{'account_id': 94049589, 'player_slot': 0, 'ne...","{'account_id': 89625472, 'player_slot': 1, 'ne...","{'account_id': 70388657, 'player_slot': 2, 'ne...","{'account_id': 11550182, 'player_slot': 3, 'ne...","{'account_id': 86723143, 'player_slot': 4, 'ne...","{'account_id': 88271237, 'player_slot': 128, '...","{'account_id': 29337472, 'player_slot': 129, '...","{'account_id': 40013910, 'player_slot': 130, '...","{'account_id': 16769223, 'player_slot': 131, '...","{'account_id': 99845008, 'player_slot': 132, '..."
3,909024942,1411223777,1761,False,1876,"{'account_id': 88271237, 'player_slot': 0, 'ne...","{'account_id': 29337472, 'player_slot': 1, 'ne...","{'account_id': 40013910, 'player_slot': 2, 'ne...","{'account_id': 16769223, 'player_slot': 3, 'ne...","{'account_id': 99845008, 'player_slot': 4, 'ne...","{'account_id': 94049589, 'player_slot': 128, '...","{'account_id': 89625472, 'player_slot': 129, '...","{'account_id': 70388657, 'player_slot': 130, '...","{'account_id': 11550182, 'player_slot': 131, '...","{'account_id': 86723143, 'player_slot': 132, '..."
4,908871129,1411220388,1761,True,2007,"{'account_id': 21265941, 'player_slot': 0, 'ne...","{'account_id': 72312627, 'player_slot': 1, 'ne...","{'account_id': 24009418, 'player_slot': 2, 'ne...","{'account_id': 8712306, 'player_slot': 3, 'net...","{'account_id': 85375207, 'player_slot': 4, 'ne...","{'account_id': 96169991, 'player_slot': 128, '...","{'account_id': 146772593, 'player_slot': 129, ...","{'account_id': 97590558, 'player_slot': 130, '...","{'account_id': 26682464, 'player_slot': 131, '...","{'account_id': 53151216, 'player_slot': 132, '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8533,2418282767,1465265653,4618,True,1865,"{'account_id': 177885192, 'player_slot': 0, 'n...","{'account_id': 99803639, 'player_slot': 1, 'ne...","{'account_id': 87419473, 'player_slot': 2, 'ne...","{'account_id': 36327727, 'player_slot': 3, 'ne...","{'account_id': 102260924, 'player_slot': 4, 'n...","{'account_id': 152995826, 'player_slot': 128, ...","{'account_id': 124099683, 'player_slot': 129, ...","{'account_id': 67902269, 'player_slot': 130, '...","{'account_id': 112891883, 'player_slot': 131, ...","{'account_id': 35242434, 'player_slot': 132, '..."
8534,3297548442,1499392201,4618,True,2419,"{'account_id': 87040694, 'player_slot': 0, 'ne...","{'account_id': 135553543, 'player_slot': 1, 'n...","{'account_id': 412758827, 'player_slot': 2, 'n...","{'account_id': 87419473, 'player_slot': 3, 'ne...","{'account_id': 36327727, 'player_slot': 4, 'ne...","{'account_id': 67902269, 'player_slot': 128, '...","{'account_id': 371313183, 'player_slot': 129, ...","{'account_id': 124099683, 'player_slot': 130, ...","{'account_id': 101842645, 'player_slot': 131, ...","{'account_id': 146969247, 'player_slot': 132, ..."
8535,3297421888,1499381951,4618,True,2215,"{'account_id': 87040694, 'player_slot': 0, 'ne...","{'account_id': 36327727, 'player_slot': 1, 'ne...","{'account_id': 135553543, 'player_slot': 2, 'n...","{'account_id': 87419473, 'player_slot': 3, 'ne...","{'account_id': 412758827, 'player_slot': 4, 'n...","{'account_id': 67902269, 'player_slot': 128, '...","{'account_id': 371313183, 'player_slot': 129, ...","{'account_id': 124099683, 'player_slot': 130, ...","{'account_id': 101842645, 'player_slot': 131, ...","{'account_id': 146969247, 'player_slot': 132, ..."
8536,3297474985,1499386507,4618,False,1889,"{'account_id': 67902269, 'player_slot': 0, 'ne...","{'account_id': 371313183, 'player_slot': 1, 'n...","{'account_id': 124099683, 'player_slot': 2, 'n...","{'account_id': 101842645, 'player_slot': 3, 'n...","{'account_id': 146969247, 'player_slot': 4, 'n...","{'account_id': 87040694, 'player_slot': 128, '...","{'account_id': 36327727, 'player_slot': 129, '...","{'account_id': 412758827, 'player_slot': 130, ...","{'account_id': 135553543, 'player_slot': 131, ...","{'account_id': 87419473, 'player_slot': 132, '..."
8537,2439260524,1466043620,4618,True,3949,"{'account_id': 87024422, 'player_slot': 0, 'ne...","{'account_id': 132282018, 'player_slot': 1, 'n...","{'account_id': 92377900, 'player_slot': 2, 'ne...","{'account_id': 927727, 'player_slot': 3, 'net_...","{'account_id': 116776337, 'player_slot': 4, 'n...","{'account_id': 96635580, 'player_slot': 128, '...","{'account_id': 182819994, 'player_slot': 129, ...","{'account_id': 145530176, 'player_slot': 130, ...","{'account_id': 135553543, 'player_slot': 131, ...","{'account_id': 86891180, 'player_slot': 132, '..."

In [256]:
matchesDf.to_csv('8500_matches_parsed.csv')
broken_games

In [ ]:
from playsound import playsound

playsound('beard_trimmer_running.mp3')

In [245]:
import multiprocessing
from playsound import playsound

p = multiprocessing.Process(target=playsound, args=('beard_trimmer_running.mp3',))
p.start()
input("press ENTER to stop playback")
p.terminate()

Process Process-4:
Traceback (most recent call last):
  File "/usr/local/Cellar/python/3.7.6_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/Cellar/python/3.7.6_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
TypeError: _playsoundOSX() takes from 1 to 2 positional arguments but 18 were given

press ENTER to stop playback

In [253]:
matchesDf = matchesDf[:8111]

In [252]:
matchesDf

,match_id,start_time,league_id,radiant_win,duration,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
0,909614535,1411238761,1761,False,1816,"{'account_id': 49317728, 'player_slot': 0, 'ne...","{'account_id': 12231202, 'player_slot': 1, 'ne...","{'account_id': 38628747, 'player_slot': 2, 'ne...","{'account_id': 50828662, 'player_slot': 3, 'ne...","{'account_id': 44111721, 'player_slot': 4, 'ne...","{'account_id': 89137399, 'player_slot': 128, '...","{'account_id': 26316691, 'player_slot': 129, '...","{'account_id': 86750262, 'player_slot': 130, '...","{'account_id': 94338967, 'player_slot': 131, '...","{'account_id': 106809101, 'player_slot': 132, ..."
1,909523648,1411236053,1761,True,1351,"{'account_id': 89137399, 'player_slot': 0, 'ne...","{'account_id': 26316691, 'player_slot': 1, 'ne...","{'account_id': 86750262, 'player_slot': 2, 'ne...","{'account_id': 94338967, 'player_slot': 3, 'ne...","{'account_id': 106809101, 'player_slot': 4, 'n...","{'account_id': 49317728, 'player_slot': 128, '...","{'account_id': 12231202, 'player_slot': 129, '...","{'account_id': 38628747, 'player_slot': 130, '...","{'account_id': 50828662, 'player_slot': 131, '...","{'account_id': 44111721, 'player_slot': 132, '..."
2,909155180,1411226737,1761,True,1888,"{'account_id': 94049589, 'player_slot': 0, 'ne...","{'account_id': 89625472, 'player_slot': 1, 'ne...","{'account_id': 70388657, 'player_slot': 2, 'ne...","{'account_id': 11550182, 'player_slot': 3, 'ne...","{'account_id': 86723143, 'player_slot': 4, 'ne...","{'account_id': 88271237, 'player_slot': 128, '...","{'account_id': 29337472, 'player_slot': 129, '...","{'account_id': 40013910, 'player_slot': 130, '...","{'account_id': 16769223, 'player_slot': 131, '...","{'account_id': 99845008, 'player_slot': 132, '..."
3,909024942,1411223777,1761,False,1876,"{'account_id': 88271237, 'player_slot': 0, 'ne...","{'account_id': 29337472, 'player_slot': 1, 'ne...","{'account_id': 40013910, 'player_slot': 2, 'ne...","{'account_id': 16769223, 'player_slot': 3, 'ne...","{'account_id': 99845008, 'player_slot': 4, 'ne...","{'account_id': 94049589, 'player_slot': 128, '...","{'account_id': 89625472, 'player_slot': 129, '...","{'account_id': 70388657, 'player_slot': 130, '...","{'account_id': 11550182, 'player_slot': 131, '...","{'account_id': 86723143, 'player_slot': 132, '..."
4,908871129,1411220388,1761,True,2007,"{'account_id': 21265941, 'player_slot': 0, 'ne...","{'account_id': 72312627, 'player_slot': 1, 'ne...","{'account_id': 24009418, 'player_slot': 2, 'ne...","{'account_id': 8712306, 'player_slot': 3, 'net...","{'account_id': 85375207, 'player_slot': 4, 'ne...","{'account_id': 96169991, 'player_slot': 128, '...","{'account_id': 146772593, 'player_slot': 129, ...","{'account_id': 97590558, 'player_slot': 130, '...","{'account_id': 26682464, 'player_slot': 131, '...","{'account_id': 53151216, 'player_slot': 132, '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8108,2126057981,1454530483,3454,False,1914,"{'account_id': 117015167, 'player_slot': 0, 'n...","{'account_id': 86664345, 'player_slot': 1, 'ne...","{'account_id': 169025618, 'player_slot': 2, 'n...","{'account_id': 86896635, 'player_slot': 3, 'ne...","{'account_id': 92968238, 'player_slot': 4, 'ne...","{'account_id': 99539136, 'player_slot': 128, '...","{'account_id': 95439451, 'player_slot': 129, '...","{'account_id': 228916210, 'player_slot': 130, ...","{'account_id': 87197791, 'player_slot': 131, '...","{'account_id': 86740536, 'player_slot': 132, '..."
8109,2125638814,1454515490,3454,False,1844,"{'account_id': 86725175, 'player_slot': 0, 'ne...","{'account_id': 89625472, 'player_slot': 1, 'ne...","{'account_id': 93552791, 'player_slot': 2, 'ne...","{'account_id': 123051238, 'player_slot': 3, 'n...","{'account_id': 86723143, 'player_slot': 4, 'ne...","{'account_id': 134556694, 'player_slot': 128, ...","{'account_id': 91460772, 'player_slot': 129, '...","{'account_id': 106573901, 'player_slot': 130, ...","{'account_id': 86802844, 'player_slot': 131, '...","{'account_id': 92423451, 'player_slot': 132, '..."
8110,2158839768,1455725237,3454,False,2943,"{'account_id': 81852496, 'player_slot': 0, 'ne...","{'account_id': 26316691, 'player_slot': 1, 'ne...","{'account_id': 123787524, 'player_slot': 2, 'n...","{'account_id': 135270298, 'player_slot': 3, 'n...","{'account_id': 63703276, 'player_slot': 4, 'ne...","{'account_id': 89625472, 'player_slot': 128, '...","{'account_id': 123051238, 'player_slot': 129, ...","{'account_id': 93552791, 'player_slot': 130, '...","{'account_id': 5150808, 'player_slot': 131, 'n...","{'account_id': 86723143, 'player_slot': 132, '..."
8111,3273873508,1498416643,3726,False,2000,"{'account_id': 131905318, 'player_slot': 0, 'n...","{'account_id': 290396330, 'player_slot': 1, 'n...","{'account_id': 301649369, 'player_slot': 2, 'n...","{'account_id': 200424342, 'player_slot': 3, 'n...","{'account_id': 246945421, 'player_slot': 4, 'n...","{'account_id': 316095421, 'player_slot': 128, ...","{'account_id': 349944908, 'player_slot': 129, ...","{'account_id': 153635071, 'player_slot': 130, ...","{'account_id': 128932968, 'player_slot': 131, ...","{'account_id': 160391554, 'player_slot': 132, ..."
8112,3225643072,1496620350,3726,True,2159,"{'account_id': 193285014, 'player_slot': 0, 'n...","{'account_id': 100758751, 'player_slot': 1, 'n...","{'account_id': 200424342, 'player_slot': 2, 'n...","{'account_id': 109455705, 'player_slot': 3, 'n...","{'account_id': 149752430, 'player_slot': 4, 'n...","{'account_id': 362617519, 'player_slot': 128, ...","{'account_id': 161347538, 'player_slot': 129, ...","{'account_id': 423371735, 'player_slot': 130, ...","{'account_id': 133656750, 'player_slot': 131, ...","{'account_id': 149348049, 'player_slot': 132, ..."

In [193]:
import json
json.loads(r.text)

{'result': {'players': [{'account_id': 154846792,
    'player_slot': 0,
    'hero_id': 50,
    'item_0': 254,
    'item_1': 187,
    'item_2': 36,
    'item_3': 46,
    'item_4': 180,
    'item_5': 42,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 1,
    'deaths': 9,
    'assists': 7,
    'leaver_status': 0,
    'last_hits': 43,
    'denies': 3,
    'gold_per_min': 192,
    'xp_per_min': 218,
    'level': 14,
    'net_worth': 5852,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 123858122,
    'player_slot': 1,
    'hero_id': 17,
    'item_0': 63,
    'item_1': 98,
    'item_2': 121,
    'item_3': 46,
    'item_4': 123,
    'item_5': 119,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 13,
    'deaths': 6,
    'assists': 13,
    'leaver_status': 0,
    'last_hits': 287,
    'denies': 6,
    'gold_per_min': 513,
    'xp_per_min': 678,
    'level': 25,
    'net_worth': 21489,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 126172693,
    'player_slot': 2,
    'hero_id': 39,
    'item_0': 158,
    'item_1': 98,
    'item_2': 51,
    'item_3': 116,
    'item_4': 63,
    'item_5': 108,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 13,
    'deaths': 3,
    'assists': 14,
    'leaver_status': 0,
    'last_hits': 269,
    'denies': 37,
    'gold_per_min': 518,
    'xp_per_min': 683,
    'level': 25,
    'net_worth': 23384,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 91421377,
    'player_slot': 3,
    'hero_id': 16,
    'item_0': 102,
    'item_1': 1,
    'item_2': 190,
    'item_3': 204,
    'item_4': 48,
    'item_5': 0,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 8,
    'deaths': 4,
    'assists': 16,
    'leaver_status': 0,
    'last_hits': 191,
    'denies': 2,
    'gold_per_min': 443,
    'xp_per_min': 582,
    'level': 23,
    'net_worth': 17351,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 157989498,
    'player_slot': 4,
    'hero_id': 51,
    'item_0': 41,
    'item_1': 127,
    'item_2': 108,
    'item_3': 1,
    'item_4': 48,
    'item_5': 114,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 9,
    'deaths': 11,
    'assists': 10,
    'leaver_status': 0,
    'last_hits': 247,
    'denies': 4,
    'gold_per_min': 497,
    'xp_per_min': 633,
    'level': 24,
    'net_worth': 19449,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 123210644,
    'player_slot': 128,
    'hero_id': 22,
    'item_0': 29,
    'item_1': 100,
    'item_2': 41,
    'item_3': 190,
    'item_4': 108,
    'item_5': 121,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 10,
    'deaths': 10,
    'assists': 15,
    'leaver_status': 3,
    'last_hits': 200,
    'denies': 4,
    'gold_per_min': 411,
    'xp_per_min': 569,
    'level': 22,
    'net_worth': 15624,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 126684608,
    'player_slot': 129,
    'hero_id': 99,
    'item_0': 125,
    'item_1': 63,
    'item_2': 127,
    'item_3': 90,
    'item_4': 46,
    'item_5': 154,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 9,
    'deaths': 11,
    'assists': 5,
    'leaver_status': 0,
    'last_hits': 112,
    'denies': 1,
    'gold_per_min': 359,
    'xp_per_min': 414,
    'level': 19,
    'net_worth': 13860,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 109636863,
    'player_slot': 130,
    'hero_id': 12,
    'item_0': 147,
    'item_1': 174,
    'item_2': 212,
    'item_3': 114,
    'item_4': 63,
    'item_5': 21,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 6,
    'deaths': 8,
    'assists': 11,
    'leaver_status': 0,
    'last_hits': 303,
    'denies': 11,
    'gold_per_min': 467,
    'xp_per_min': 524,
    'level': 21,
    'net_worth': 17912,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 110186408,
    'player_slot': 131,
    'hero_id': 26,
    'item_0': 23,
    'item_1': 102,
    'item_2': 214,
    'item_3': 46,
    'item_4': 42,
    'item_5': 1,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 1,
    'deaths': 9,
    'assists': 12,
    'leaver_status': 0,
    'last_hits': 5,
    'denies': 0,
    'gold_per_min': 213,
    'xp_per_min': 249,
    'level': 15,
    'net_worth': 7041,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0},
   {'account_id': 203766579,
    'player_slot': 132,
    'hero_id': 7,
    'item_0': 1,
    'item_1': 102,
    'item_2': 23,
    'item_3': 46,
    'item_4': 36,
    'item_5': 29,
    'backpack_0': 0,
    'backpack_1': 0,
    'backpack_2': 0,
    'item_neutral': 0,
    'kills': 4,
    'deaths': 8,
    'assists': 11,
    'leaver_status': 0,
    'last_hits': 30,
    'denies': 1,
    'gold_per_min': 239,
    'xp_per_min': 267,
    'level': 15,
    'net_worth': 8143,
    'aghanims_scepter': 0,
    'aghanims_shard': 0,
    'moonshard': 0}],
  'radiant_win': True,
  'duration': 2869,
  'pre_game_duration': 0,
  'start_time': 1433464881,
  'match_id': 1527563792,
  'match_seq_num': 1369163057,
  'tower_status_radiant': 1974,
  'tower_status_dire': 1828,
  'barracks_status_radiant': 63,
  'barracks_status_dire': 63,
  'cluster': 123,
  'first_blood_time': 0,
  'lobby_type': 1,
  'human_players': 10,
  'leagueid': 3071,
  'positive_votes': 2,
  'negative_votes': 0,
  'game_mode': 2,
  'flags': 0,
  'engine': 0,
  'radiant_score': 0,
  'dire_score': 0,
  'radiant_team_id': 1835728,
  'radiant_name': 'Sand Blut',
  'radiant_logo': 415811900445613110,
  'radiant_team_complete': 0,
  'dire_team_id': 1724226,
  'dire_name': 'ULTIMATE-TEAM',
  'dire_logo': 18446744073709551615,
  'dire_team_complete': 0,
  'radiant_captain': 154846792,
  'dire_captain': 110186408,
  'picks_bans': [{'is_pick': False, 'hero_id': 85, 'team': 1, 'order': 0},
   {'is_pick': False, 'hero_id': 70, 'team': 0, 'order': 1},
   {'is_pick': False, 'hero_id': 78, 'team': 1, 'order': 2},
   {'is_pick': False, 'hero_id': 72, 'team': 0, 'order': 3},
   {'is_pick': True, 'hero_id': 7, 'team': 1, 'order': 4},
   {'is_pick': True, 'hero_id': 51, 'team': 0, 'order': 5},
   {'is_pick': True, 'hero_id': 39, 'team': 0, 'order': 6},
   {'is_pick': True, 'hero_id': 22, 'team': 1, 'order': 7},
   {'is_pick': False, 'hero_id': 75, 'team': 1, 'order': 8},
   {'is_pick': False, 'hero_id': 110, 'team': 0, 'order': 9},
   {'is_pick': False, 'hero_id': 61, 'team': 1, 'order': 10},
   {'is_pick': False, 'hero_id': 4, 'team': 0, 'order': 11},
   {'is_pick': True, 'hero_id': 17, 'team': 0, 'order': 12},
   {'is_pick': True, 'hero_id': 26, 'team': 1, 'order': 13},
   {'is_pick': True, 'hero_id': 16, 'team': 0, 'order': 14},
   {'is_pick': True, 'hero_id': 99, 'team': 1, 'order': 15},
   {'is_pick': False, 'hero_id': 1, 'team': 0, 'order': 16},
   {'is_pick': False, 'hero_id': 41, 'team': 1, 'order': 17},
   {'is_pick': True, 'hero_id': 50, 'team': 0, 'order': 18},
   {'is_pick': True, 'hero_id': 12, 'team': 1, 'order': 19}]}}

In [189]:
r.text

'{\n"result":{\n"players":[\n{\n"account_id":154846792,\n"player_slot":0,\n"hero_id":50,\n"item_0":254,\n"item_1":187,\n"item_2":36,\n"item_3":46,\n"item_4":180,\n"item_5":42,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":1,\n"deaths":9,\n"assists":7,\n"leaver_status":0,\n"last_hits":43,\n"denies":3,\n"gold_per_min":192,\n"xp_per_min":218,\n"level":14,\n"net_worth":5852,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":123858122,\n"player_slot":1,\n"hero_id":17,\n"item_0":63,\n"item_1":98,\n"item_2":121,\n"item_3":46,\n"item_4":123,\n"item_5":119,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":13,\n"deaths":6,\n"assists":13,\n"leaver_status":0,\n"last_hits":287,\n"denies":6,\n"gold_per_min":513,\n"xp_per_min":678,\n"level":25,\n"net_worth":21489,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":126172693,\n"player_slot":2,\n"hero_id":39,\n"item_0":158,\n"item_1":98,\n"item_2":51,\n"item_3":116,\n"item_4":63,\n"item_5":108,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":13,\n"deaths":3,\n"assists":14,\n"leaver_status":0,\n"last_hits":269,\n"denies":37,\n"gold_per_min":518,\n"xp_per_min":683,\n"level":25,\n"net_worth":23384,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":91421377,\n"player_slot":3,\n"hero_id":16,\n"item_0":102,\n"item_1":1,\n"item_2":190,\n"item_3":204,\n"item_4":48,\n"item_5":0,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":8,\n"deaths":4,\n"assists":16,\n"leaver_status":0,\n"last_hits":191,\n"denies":2,\n"gold_per_min":443,\n"xp_per_min":582,\n"level":23,\n"net_worth":17351,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":157989498,\n"player_slot":4,\n"hero_id":51,\n"item_0":41,\n"item_1":127,\n"item_2":108,\n"item_3":1,\n"item_4":48,\n"item_5":114,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":9,\n"deaths":11,\n"assists":10,\n"leaver_status":0,\n"last_hits":247,\n"denies":4,\n"gold_per_min":497,\n"xp_per_min":633,\n"level":24,\n"net_worth":19449,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":123210644,\n"player_slot":128,\n"hero_id":22,\n"item_0":29,\n"item_1":100,\n"item_2":41,\n"item_3":190,\n"item_4":108,\n"item_5":121,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":10,\n"deaths":10,\n"assists":15,\n"leaver_status":3,\n"last_hits":200,\n"denies":4,\n"gold_per_min":411,\n"xp_per_min":569,\n"level":22,\n"net_worth":15624,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":126684608,\n"player_slot":129,\n"hero_id":99,\n"item_0":125,\n"item_1":63,\n"item_2":127,\n"item_3":90,\n"item_4":46,\n"item_5":154,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":9,\n"deaths":11,\n"assists":5,\n"leaver_status":0,\n"last_hits":112,\n"denies":1,\n"gold_per_min":359,\n"xp_per_min":414,\n"level":19,\n"net_worth":13860,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":109636863,\n"player_slot":130,\n"hero_id":12,\n"item_0":147,\n"item_1":174,\n"item_2":212,\n"item_3":114,\n"item_4":63,\n"item_5":21,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":6,\n"deaths":8,\n"assists":11,\n"leaver_status":0,\n"last_hits":303,\n"denies":11,\n"gold_per_min":467,\n"xp_per_min":524,\n"level":21,\n"net_worth":17912,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":110186408,\n"player_slot":131,\n"hero_id":26,\n"item_0":23,\n"item_1":102,\n"item_2":214,\n"item_3":46,\n"item_4":42,\n"item_5":1,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":1,\n"deaths":9,\n"assists":12,\n"leaver_status":0,\n"last_hits":5,\n"denies":0,\n"gold_per_min":213,\n"xp_per_min":249,\n"level":15,\n"net_worth":7041,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n},\n{\n"account_id":203766579,\n"player_slot":132,\n"hero_id":7,\n"item_0":1,\n"item_1":102,\n"item_2":23,\n"item_3":46,\n"item_4":36,\n"item_5":29,\n"backpack_0":0,\n"backpack_1":0,\n"backpack_2":0,\n"item_neutral":0,\n"kills":4,\n"deaths":8,\n"assists":11,\n"leaver_status":0,\n"last_hits":30,\n"denies":1,\n"gold_per_min":239,\n"xp_per_min":267,\n"level":15,\n"net_worth":8143,\n"aghanims_scepter":0,\n"aghanims_shard":0,\n"moonshard":0\n}\n]\n,\n"radiant_win":true,\n"duration":2869,\n"pre_game_duration":0,\n"start_time":1433464881,\n"match_id":1527563792,\n"match_seq_num":1369163057,\n"tower_status_radiant":1974,\n"tower_status_dire":1828,\n"barracks_status_radiant":63,\n"barracks_status_dire":63,\n"cluster":123,\n"first_blood_time":0,\n"lobby_type":1,\n"human_players":10,\n"leagueid":3071,\n"positive_votes":2,\n"negative_votes":0,\n"game_mode":2,\n"flags":0,\n"engine":0,\n"radiant_score":0,\n"dire_score":0,\n"radiant_team_id":1835728,\n"radiant_name":"Sand Blut",\n"radiant_logo":415811900445613110,\n"radiant_team_complete":0,\n"dire_team_id":1724226,\n"dire_name":"ULTIMATE-TEAM",\n"dire_logo":18446744073709551615,\n"dire_team_complete":0,\n"radiant_captain":154846792,\n"dire_captain":110186408,\n"picks_bans":[\n{\n"is_pick":false,\n"hero_id":85,\n"team":1,\n"order":0\n},\n{\n"is_pick":false,\n"hero_id":70,\n"team":0,\n"order":1\n},\n{\n"is_pick":false,\n"hero_id":78,\n"team":1,\n"order":2\n},\n{\n"is_pick":false,\n"hero_id":72,\n"team":0,\n"order":3\n},\n{\n"is_pick":true,\n"hero_id":7,\n"team":1,\n"order":4\n},\n{\n"is_pick":true,\n"hero_id":51,\n"team":0,\n"order":5\n},\n{\n"is_pick":true,\n"hero_id":39,\n"team":0,\n"order":6\n},\n{\n"is_pick":true,\n"hero_id":22,\n"team":1,\n"order":7\n},\n{\n"is_pick":false,\n"hero_id":75,\n"team":1,\n"order":8\n},\n{\n"is_pick":false,\n"hero_id":110,\n"team":0,\n"order":9\n},\n{\n"is_pick":false,\n"hero_id":61,\n"team":1,\n"order":10\n},\n{\n"is_pick":false,\n"hero_id":4,\n"team":0,\n"order":11\n},\n{\n"is_pick":true,\n"hero_id":17,\n"team":0,\n"order":12\n},\n{\n"is_pick":true,\n"hero_id":26,\n"team":1,\n"order":13\n},\n{\n"is_pick":true,\n"hero_id":16,\n"team":0,\n"order":14\n},\n{\n"is_pick":true,\n"hero_id":99,\n"team":1,\n"order":15\n},\n{\n"is_pick":false,\n"hero_id":1,\n"team":0,\n"order":16\n},\n{\n"is_pick":false,\n"hero_id":41,\n"team":1,\n"order":17\n},\n{\n"is_pick":true,\n"hero_id":50,\n"team":0,\n"order":18\n},\n{\n"is_pick":true,\n"hero_id":12,\n"team":1,\n"order":19\n}\n]\n\n}\n}'

In [103]:
testNum

0

In [121]:
payload = {'key': '4D52001F08216AA0FCD419BD3458DC28', 'match_id': leaguesDf.loc[0]['matches'][1]}
request_url = 'https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001'
r = requests.get(request_url, params=payload)
pd.read_json(r.text)

                                                                    result
barracks_status_dire                                                    63
barracks_status_radiant                                                 63
cluster                                                                133
dire_captain                                                      49317728
dire_logo                                               802116058284669897
dire_name                                                compLexity Gaming
dire_score                                                               0
dire_team_complete                                                       1
dire_team_id                                                             3
duration                                                              1351
engine                                                                   0
first_blood_time                                                       157
flags                                                                    0
game_mode                                                                2
human_players                                                           10
leagueid                                                              1761
lobby_type                                                               1
match_id                                                         909523648
match_seq_num                                                    814006708
negative_votes                                                           1
picks_bans               [{'is_pick': False, 'hero_id': 34, 'team': 0, ...
players                  [{'account_id': 89137399, 'player_slot': 0, 'h...
positive_votes                                                           8
pre_game_duration                                                        0
radiant_captain                                                   89137399
radiant_logo                                           1740069961068193325
radiant_name                                                    Virtus.pro
radiant_score                                                            0
radiant_team_complete                                                    1
radiant_team_id                                                    1883502
radiant_win                                                           True
start_time                                                      1411236053
tower_status_dire                                                     1844
tower_status_radiant                                                  1974

In [122]:
r.text.find('start_time')

4215

In [39]:
test = pd.read_json(r.text)

In [40]:
test

                                                                    result
barracks_status_dire                                                    63
barracks_status_radiant                                                 63
cluster                                                                152
dire_captain                                                     248388120
dire_logo                                               947336408508413358
dire_name                                                        Team Orca
dire_score                                                              23
dire_team_complete                                                       1
dire_team_id                                                       5994455
duration                                                              1864
engine                                                                   1
first_blood_time                                                        55
flags                                                                    1
game_mode                                                                2
human_players                                                           10
leagueid                                                             10684
lobby_type                                                               1
match_id                                                        4764477860
match_seq_num                                                   4016667592
negative_votes                                                           0
picks_bans               [{'is_pick': False, 'hero_id': 16, 'team': 1, ...
players                  [{'account_id': 92620439, 'player_slot': 0, 'h...
positive_votes                                                           2
pre_game_duration                                                       90
radiant_captain                                                  126323933
radiant_logo                                            786352494203089657
radiant_name                                              PLDT-Smart Omega
radiant_score                                                           36
radiant_team_complete                                                    0
radiant_team_id                                                    6980810
radiant_win                                                           True
start_time                                                      1558238709
tower_status_dire                                                     1572
tower_status_radiant                                                  1846

In [ ]:
thisdict = {
  "account_id": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [43]:
test.loc['players']['result'][0]

{'account_id': 92620439,
 'player_slot': 0,
 'hero_id': 102,
 'item_0': 187,
 'item_1': 188,
 'item_2': 11,
 'item_3': 214,
 'item_4': 218,
 'item_5': 36,
 'backpack_0': 0,
 'backpack_1': 0,
 'backpack_2': 0,
 'item_neutral': 0,
 'kills': 0,
 'deaths': 6,
 'assists': 20,
 'leaver_status': 0,
 'last_hits': 10,
 'denies': 3,
 'gold_per_min': 217,
 'xp_per_min': 436,
 'level': 17,
 'net_worth': 3755,
 'aghanims_scepter': 0,
 'aghanims_shard': 0,
 'moonshard': 0}

In [37]:
matchesDf.loc[0]['player_0']

"{'account_id': 49317728, 'player_slot': 0, 'net_worth': 9885, 'kills': 1, 'deaths': 6, 'assists': 7, 'last_hits': 151, 'denies': 5}"