In [1]:
import pandas as pd

In [2]:
dfPlayers = pd.read_csv('./players.csv')

In [3]:
dfGames = pd.read_csv('./games.csv')

In [7]:
def fix_duration(duration):
    newDuration = int(duration) / 60
    return newDuration

dfGames['duration_min'] = dfGames['duration'].apply(fix_duration)

In [8]:
dfGames.head()

,Unnamed: 0,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,version,kills,deaths,assists,skill,leaver_status,party_size,player_id,duration_min
0,0,6204438456,132,0.0,2612,3,7,129,2021-10-01 15:38:10,NaN,3,8,19,3.0,0,1.0,88470,43.533333
1,1,6204357792,2,0.0,2632,3,7,16,2021-10-01 14:46:53,NaN,5,8,17,3.0,0,1.0,88470,43.866667
2,2,6204290620,131,1.0,2182,3,7,55,2021-10-01 14:04:34,NaN,7,9,11,3.0,0,1.0,88470,36.366667
3,3,6204218571,2,0.0,2337,3,7,51,2021-10-01 13:17:18,NaN,7,10,7,3.0,0,1.0,88470,38.950000
4,4,6204152522,128,1.0,2440,3,7,65,2021-10-01 12:29:34,NaN,9,4,17,3.0,0,1.0,88470,40.666667

In [10]:
dfGames.loc[dfGames['duration_min'] > 8].shape[0]

16316860

In [11]:
dfGames.shape[0]

16356571